In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.feature_selection import VarianceThreshold

In [15]:
df = pd.read_csv('../featdata/home_credit.csv')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 361 entries, EXT_SOURCE_1 to SK_ID_CURR
dtypes: float64(325), int64(36)
memory usage: 847.0 MB

In [4]:
df.shape

(307511, 361)

In [6]:
df.dtypes.value_counts()

float64    325
int64       36
dtype: int64

In [8]:
# As we have only numeric data we will use VarianceThreshold from sklearn to remove constants

In [9]:
# We will not split the data into train & test as we are already working with the training data

In [10]:
df.head()

,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,client_installments_AMT_PAYMENT_min_sum,DAYS_BIRTH,AMT_CREDIT,AMT_ANNUITY,DAYS_EMPLOYED,bureau_DAYS_CREDIT_ENDDATE_max,bureau_DAYS_CREDIT_max,DAYS_ID_PUBLISH,bureau_AMT_CREDIT_MAX_OVERDUE_mean,bureau_DAYS_ENDDATE_FACT_max,bureau_AMT_CREDIT_SUM_DEBT_mean,OWN_CAR_AGE,...,previous_loans_CHANNEL_TYPE_Regional / Local_count,ORGANIZATION_TYPE_Transport: type 3,client_cash_NAME_CONTRACT_STATUS_Returned to the store_count_norm_max,ORGANIZATION_TYPE_School,previous_loans_NAME_TYPE_SUITE_Other_B_count_norm,bureau_CNT_CREDIT_PROLONG_mean,client_credit_AMT_DRAWINGS_CURRENT_max_max,client_bureau_balance_MONTHS_BALANCE_max_sum,client_cash_NAME_CONTRACT_STATUS_Active_count_min,WEEKDAY_APPR_PROCESS_START_WEDNESDAY,OCCUPATION_TYPE_High skill tech staff,previous_loans_NAME_PAYMENT_TYPE_XNA_count,FLAG_PHONE,TARGET,SK_ID_CURR
0,0.083037,0.262949,0.139376,175783.725,-9461,406597.5,24700.5,-637,780.0,-103.0,-2120,1681.029,-36.0,49156.2,NaN,...,0.0,0,0.000,0,0.0,0.0,NaN,-124.0,19.0,1,0,1.0,1,1,100002
1,0.311267,0.622246,NaN,1154108.295,-16765,1293502.5,35698.5,-1188,1216.0,-606.0,-291,0.000,-540.0,0.0,NaN,...,0.0,0,0.000,1,0.0,0.0,NaN,0.0,7.0,0,0,1.0,1,0,100003
2,NaN,0.555912,0.729567,16071.750,-19046,135000.0,6750.0,-225,-382.0,-408.0,-2531,0.000,-382.0,0.0,26.0,...,1.0,0,0.000,0,0.0,0.0,NaN,0.0,3.0,0,0,0.0,1,0,100004
3,NaN,0.650442,NaN,994476.690,-19005,312682.5,29686.5,-3039,NaN,NaN,-2437,NaN,NaN,NaN,NaN,...,0.0,0,0.125,0,0.0,NaN,0.0,NaN,2.0,1,0,5.0,0,0,100006
4,NaN,0.322738,NaN,483756.390,-19932,513000.0,21865.5,-3038,-783.0,-1149.0,-3458,0.000,-783.0,0.0,NaN,...,1.0,0,0.000,0,0.0,0.0,NaN,0.0,10.0,0,0,1.0,0,0,100007

In [11]:
sel = VarianceThreshold()
sel.fit(df) # fit finds the features with zero variance

VarianceThreshold()

In [12]:
# get_support is a boolean vector that indicates which features are retained
# if we sum over get_support, we get the number of features that are not constant


sum(sel.get_support())

361

In [14]:

len(df.columns) - sum(sel.get_support())

0