In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel('datasets/Survey/Data - Survey Monkey Output.xlsx')

In [5]:
data.tail(20)

,Respondent ID,Start Date,End Date,Email Address,First Name,Last Name,Custom Data 1,Identify which division you work in.,Unnamed: 8,Which of the following best describes your position level?,...,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,Question 30,Unnamed: 98,Unnamed: 99
179,2.628194e+09,2021-01-11 06:29:29,2021-01-11 06:42:26,NaN,NaN,NaN,NaN,Executive,NaN,Staff,...,Answer 5,Answer 6,Answer 8,Answer 5,NaN,Answer 4,NaN,NaN,Answer 2,NaN
180,2.254451e+09,2021-01-11 06:29:02,2021-01-11 06:30:09,NaN,NaN,NaN,NaN,Port Security & Emergency Operations,NaN,Staff,...,Answer 7,Answer 3,Answer 1,NaN,Answer 7,Answer 8,NaN,Answer 4,NaN,Answer 5
181,1.426185e+09,2021-01-11 06:28:23,2021-01-11 06:47:34,NaN,NaN,NaN,NaN,Finance,NaN,Staff,...,NaN,Answer 8,Answer 6,NaN,Answer 4,NaN,NaN,NaN,Answer 6,NaN
182,1.001883e+09,2021-01-11 06:28:52,2021-01-11 06:47:31,NaN,NaN,NaN,NaN,Infrastructure,NaN,Staff,...,NaN,NaN,Answer 2,Answer 7,Answer 6,Answer 5,Answer 3,NaN,Answer 3,Answer 8
183,1.941311e+09,2021-01-11 06:27:59,2021-01-14 13:20:12,NaN,NaN,NaN,NaN,Infrastructure,NaN,Department Lead,...,NaN,NaN,NaN,Answer 8,Answer 7,NaN,NaN,Answer 1,Answer 6,Answer 2
184,8.569413e+09,2021-01-11 06:27:34,2021-01-11 06:28:29,NaN,NaN,NaN,NaN,Infrastructure,NaN,Manager,...,Answer 6,Answer 8,NaN,Answer 6,Answer 3,Answer 1,Answer 7,Answer 4,Answer 1,NaN
185,5.953472e+09,2021-01-11 06:26:11,2021-01-11 06:41:40,NaN,NaN,NaN,NaN,People,NaN,Staff,...,NaN,NaN,Answer 7,NaN,Answer 7,NaN,Answer 8,Answer 7,Answer 8,Answer 1
186,3.933988e+09,2021-01-11 06:26:52,2021-01-11 06:50:09,NaN,NaN,NaN,NaN,People,NaN,Staff,...,NaN,NaN,NaN,Answer 8,Answer 3,Answer 1,Answer 3,Answer 2,Answer 8,NaN
187,7.963965e+09,2021-01-11 06:22:37,2021-01-11 06:34:03,NaN,NaN,NaN,NaN,Executive,NaN,Staff,...,NaN,Answer 7,Answer 8,Answer 2,Answer 1,Answer 4,NaN,NaN,NaN,NaN
188,9.735550e+09,2021-01-11 06:21:24,2021-01-11 06:48:26,NaN,NaN,NaN,NaN,People,NaN,Staff,...,NaN,Answer 5,Answer 5,NaN,Answer 5,Answer 6,NaN,NaN,Answer 2,Answer 5
189,5.559071e+09,2021-01-11 06:21:18,2021-01-11 06:35:53,NaN,NaN,NaN,NaN,Port Security & Emergency Operations,NaN,Staff,...,Answer 4,Answer 7,Answer 4,NaN,Answer 3,Answer 5,Answer 2,NaN,NaN,NaN
190,8.253262e+09,2021-01-11 06:20:20,2021-01-11 06:39:07,NaN,NaN,NaN,NaN,People,NaN,Department Lead,...,NaN,NaN,NaN,Answer 5,NaN,NaN,Answer 5,NaN,NaN,NaN
191,7.325852e+09,2021-01-11 06:20:29,2021-01-11 07:11:16,NaN,NaN,NaN,NaN,Infrastructure,NaN,Manager,...,NaN,Answer 7,Answer 6,Answer 5,NaN,NaN,NaN,Answer 6,Answer 5,Answer 5
192,3.370366e+09,2021-01-11 06:19:33,2021-01-11 06:39:01,NaN,NaN,NaN,NaN,Port Security & Emergency Operations,NaN,Staff,...,Answer 5,NaN,Answer 5,Answer 6,NaN,Answer 5,Answer 6,NaN,Answer 1,Answer 6
193,2.841748e+09,2021-01-11 06:19:01,2021-01-11 06:35:13,NaN,NaN,NaN,NaN,Information Technology,NaN,Staff,...,NaN,NaN,NaN,Answer 8,Answer 6,NaN,Answer 5,Answer 6,NaN,NaN
194,7.940065e+09,2021-01-11 06:19:18,2021-01-11 06:32:59,NaN,NaN,NaN,NaN,Infrastructure,NaN,Department Lead,...,Answer 1,Answer 1,Answer 3,Answer 6,Answer 6,Answer 8,NaN,NaN,NaN,Answer 8
195,5.157706e+09,2021-01-11 06:19:14,2021-01-11 06:33:29,NaN,NaN,NaN,NaN,Finance,NaN,Staff,...,Answer 5,NaN,Answer 5,NaN,NaN,Answer 2,NaN,NaN,NaN,Answer 6
196,9.920756e+09,2021-01-11 06:18:48,2021-01-11 06:27:27,NaN,NaN,NaN,NaN,Port Operations,NaN,Staff,...,NaN,Answer 7,NaN,NaN,NaN,NaN,NaN,NaN,Answer 3,NaN
197,6.638341e+09,2021-01-11 06:19:01,2021-01-11 06:33:06,NaN,NaN,NaN,NaN,Infrastructure,NaN,Manager,...,Answer 2,NaN,Answer 3,Answer 5,NaN,Answer 8,Answer 3,Answer 3,NaN,NaN
198,8.114622e+09,2021-01-11 06:18:50,2021-01-11 06:26:46,NaN,NaN,NaN,NaN,Information Technology,NaN,Staff,...,Answer 3,NaN,Answer 7,NaN,NaN,NaN,NaN,Answer 3,NaN,NaN

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 100 columns):
 #   Column                                                              Non-Null Count  Dtype
---  ------                                                              --------------  -----
 0   Respondent ID                                                       198 non-null    float64
 1   Start Date                                                          198 non-null    datetime64[ns]
 2   End Date                                                            198 non-null    datetime64[ns]
 3   Email Address                                                       0 non-null      float64
 4   First Name                                                          0 non-null      float64
 5   Last Name                                                           0 non-null      float64
 6   Custom Data 1                                                       0 non-null      float64
 7   Identify which division you work in.                                198 non-null    object
 8   Unnamed: 8                                                          3 non-null      object
 9   Which of the following best describes your position level?          197 non-null    object
 10  Which generation are you apart of?                                  197 non-null    object
 11  Please select the gender in which you identify.                     197 non-null    object
 12  Which duration range best aligns with your tenure at your company?  199 non-null    object
 13  Which of the following best describes your employment type?         199 non-null    object
 14  Question 1                                                          120 non-null    object
 15  Question 2                                                          119 non-null    object
 16  Question 3                                                          118 non-null    object
 17  Question 4                                                          117 non-null    object
 18  Unnamed: 18                                                         105 non-null    object
 19  Question 5                                                          119 non-null    object
 20  Unnamed: 20                                                         113 non-null    object
 21  Unnamed: 21                                                         110 non-null    object
 22  Unnamed: 22                                                         113 non-null    object
 23  Unnamed: 23                                                         112 non-null    object
 24  Unnamed: 24                                                         115 non-null    object
 25  Question 6                                                          117 non-null    object
 26  Unnamed: 26                                                         105 non-null    object
 27  Unnamed: 27                                                         117 non-null    object
 28  Unnamed: 28                                                         106 non-null    object
 29  Unnamed: 29                                                         117 non-null    object
 30  Unnamed: 30                                                         108 non-null    object
 31  Question 7                                                          119 non-null    object
 32  Unnamed: 32                                                         120 non-null    object
 33  Question 8                                                          118 non-null    object
 34  Unnamed: 34                                                         116 non-null    object
 35  Unnamed: 35                                                         111 non-null    object
 36  Unnamed: 36                                                         105 non-null    object
 37  Question 9                                                          122 non-null    object
 38  Unnamed: 38                                                         114 non-null    object
 39  Unnamed: 39                                                         109 non-null    object
 40  Unnamed: 40                                                         112 non-null    object
 41  Question 10                                                         114 non-null    object
 42  Unnamed: 42                                                         118 non-null    object
 43  Unnamed: 43                                                         124 non-null    object
 44  Unnamed: 44                                                         108 non-null    object
 45  Unnamed: 45                                                         126 non-null    object
 46  Question 11                                                         123 non-null    object
 47  Unnamed: 47                                                         118 non-null    object
 48  Question 12                                                         115 non-null    object
 49  Question 13                                                         109 non-null    object
 50  Question 14                                                         106 non-null    object
 51  Question 15                                                         115 non-null    object
 52  Question 16                                                         118 non-null    object
 53  Question 17                                                         136 non-null    object
 54  Question 18                                                         110 non-null    object
 55  Question 19                                                         120 non-null    object
 56  Unnamed: 56                                                         108 non-null    object
 57  Question 20                                                         106 non-null    object
 58  Question 21                                                         128 non-null    object
 59  Question 22                                                         108 non-null    object
 60  Unnamed: 60                                                         108 non-null    object
 61  Question 23                                                         121 non-null    object
 62  Question 24                                                         112 non-null    object
 63  Unnamed: 63                                                         111 non-null    object
 64  Unnamed: 64                                                         106 non-null    object
 65  Unnamed: 65                                                         108 non-null    object
 66  Unnamed: 66                                                         112 non-null    object
 67  Question 25                                                         106 non-null    object
 68  Unnamed: 68                                                         103 non-null    object
 69  Unnamed: 69                                                         108 non-null    object
 70  Unnamed: 70                                                         114 non-null    object
 71  Unnamed: 71                                                         107 non-null    object
 72  Unnamed: 72                                                         117 non-null    object
 73  Unnamed: 73                                                         108 non-null    object
 74  Unnamed: 74                                                         109 non-null    object
 75  Unnamed: 75                                                         107 non-null    object
 76  Question 26                                                         101 non-null    object
 77  Unnamed: 77                                                         120 non-null    object
 78  Unnamed: 78                                                         108 non-null    object
 79  Unnamed: 79                                                         111 non-null    object
 80  Question 27                                                         107 non-null    object
 81  Unnamed: 81                                                         106 non-null    object
 82  Question 28                                                         120 non-null    object
 83  Question 29                                                         121 non-null    object
 84  Unnamed: 84                                                         113 non-null    object
 85  Unnamed: 85                                                         109 non-null    object
 86  Unnamed: 86                                                         115 non-null    object
 87  Unnamed: 87                                                         108 non-null    object
 88  Unnamed: 88                                                         116 non-null    object
 89  Unnamed: 89                                                         113 non-null    object
 90  Unnamed: 90                                                         114 non-null    object
 91  Unnamed: 91                                                         124 non-null    object
 92  Unnamed: 92                                                         107 non-null    object
 93  Unnamed: 93                                                         116 non-null    object
 94  Unnamed: 94                                                         104 non-null    object
 95  Unnamed: 95                                                         121 non-null    object
 96  Unnamed: 96                                                         117 non-null    object
 97  Question 30                                                         104 non-null    object
 98  Unnamed: 98                                                         118 non-null    object
 99  Unnamed: 99                                                         113 non-null    object
dtypes: datetime64[ns](2), float64(5), object(93)
memory usage: 155.6+ KB

In [7]:
pd.options
data.head(1)

,Respondent ID,Start Date,End Date,Email Address,First Name,Last Name,Custom Data 1,Identify which division you work in.,Unnamed: 8,Which of the following best describes your position level?,...,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,Question 30,Unnamed: 98,Unnamed: 99
0,NaN,NaT,NaT,NaN,NaN,NaN,NaN,Response,Other (please specify),Response,...,Response 8,Response 9,Response 10,Response 11,Response 12,Response 13,Response 14,Response 1,Response 2,Response 3

In [9]:
for i in data.iloc[1]:
    print(i)

5379192392.0
2021-01-22 12:01:17
2021-01-22 12:40:34
nan
nan
nan
nan
Infrastructure
nan
Staff
Generation X (born between 1965-1980)
Male
0-2 years
Full time Employee
nan
Answer 6
nan
Answer 2
nan
Answer 4
nan
nan
Answer 5
Answer 5
Answer 2
nan
Answer 2
Answer 5
Answer 3
nan
nan
Answer 1
Answer 1
Answer 6
Answer 3
Answer 1
nan
Answer 1
Answer 3
Answer 6
Answer 3
Answer 6
nan
Answer 8
nan
nan
nan
Answer 8
nan
nan
Answer 2
Answer 2
Answer 4
Answer 6
Answer 4
nan
Answer 8
Answer 8
nan
Answer 8
nan
nan
nan
nan
Answer 2
Answer 5
Answer 8
Answer 7
Answer 8
Answer 8
nan
Answer 4
Answer 5
nan
Answer 6
nan
Answer 4
Answer 5
nan
Answer 7
Answer 5
nan
nan
Answer 3
Answer 2
Answer 5
Answer 6
nan
Answer 6
Answer 1
nan
Answer 8
Answer 8
Answer 4
nan
nan
Answer 5
nan
nan
nan

In [11]:
list(data.columns)

['Respondent ID',
 'Start Date',
 'End Date',
 'Email Address',
 'First Name',
 'Last Name',
 'Custom Data 1',
 'Identify which division you work in.',
 'Unnamed: 8',
 'Which of the following best describes your position level?',
 'Which generation are you apart of?',
 'Please select the gender in which you identify.',
 'Which duration range best aligns with your tenure at your company?',
 'Which of the following best describes your employment type?',
 'Question 1',
 'Question 2',
 'Question 3',
 'Question 4',
 'Unnamed: 18',
 'Question 5',
 'Unnamed: 20',
 'Unnamed: 21',
 'Unnamed: 22',
 'Unnamed: 23',
 'Unnamed: 24',
 'Question 6',
 'Unnamed: 26',
 'Unnamed: 27',
 'Unnamed: 28',
 'Unnamed: 29',
 'Unnamed: 30',
 'Question 7',
 'Unnamed: 32',
 'Question 8',
 'Unnamed: 34',
 'Unnamed: 35',
 'Unnamed: 36',
 'Question 9',
 'Unnamed: 38',
 'Unnamed: 39',
 'Unnamed: 40',
 'Question 10',
 'Unnamed: 42',
 'Unnamed: 43',
 'Unnamed: 44',
 'Unnamed: 45',
 'Question 11',
 'Unnamed: 47',
 'Question 12',
 'Question 13',
 'Question 14',
 'Question 15',
 'Question 16',
 'Question 17',
 'Question 18',
 'Question 19',
 'Unnamed: 56',
 'Question 20',
 'Question 21',
 'Question 22',
 'Unnamed: 60',
 'Question 23',
 'Question 24',
 'Unnamed: 63',
 'Unnamed: 64',
 'Unnamed: 65',
 'Unnamed: 66',
 'Question 25',
 'Unnamed: 68',
 'Unnamed: 69',
 'Unnamed: 70',
 'Unnamed: 71',
 'Unnamed: 72',
 'Unnamed: 73',
 'Unnamed: 74',
 'Unnamed: 75',
 'Question 26',
 'Unnamed: 77',
 'Unnamed: 78',
 'Unnamed: 79',
 'Question 27',
 'Unnamed: 81',
 'Question 28',
 'Question 29',
 'Unnamed: 84',
 'Unnamed: 85',
 'Unnamed: 86',
 'Unnamed: 87',
 'Unnamed: 88',
 'Unnamed: 89',
 'Unnamed: 90',
 'Unnamed: 91',
 'Unnamed: 92',
 'Unnamed: 93',
 'Unnamed: 94',
 'Unnamed: 95',
 'Unnamed: 96',
 'Question 30',
 'Unnamed: 98',
 'Unnamed: 99']

In [12]:
list(data.columns.values)

['Respondent ID',
 'Start Date',
 'End Date',
 'Email Address',
 'First Name',
 'Last Name',
 'Custom Data 1',
 'Identify which division you work in.',
 'Unnamed: 8',
 'Which of the following best describes your position level?',
 'Which generation are you apart of?',
 'Please select the gender in which you identify.',
 'Which duration range best aligns with your tenure at your company?',
 'Which of the following best describes your employment type?',
 'Question 1',
 'Question 2',
 'Question 3',
 'Question 4',
 'Unnamed: 18',
 'Question 5',
 'Unnamed: 20',
 'Unnamed: 21',
 'Unnamed: 22',
 'Unnamed: 23',
 'Unnamed: 24',
 'Question 6',
 'Unnamed: 26',
 'Unnamed: 27',
 'Unnamed: 28',
 'Unnamed: 29',
 'Unnamed: 30',
 'Question 7',
 'Unnamed: 32',
 'Question 8',
 'Unnamed: 34',
 'Unnamed: 35',
 'Unnamed: 36',
 'Question 9',
 'Unnamed: 38',
 'Unnamed: 39',
 'Unnamed: 40',
 'Question 10',
 'Unnamed: 42',
 'Unnamed: 43',
 'Unnamed: 44',
 'Unnamed: 45',
 'Question 11',
 'Unnamed: 47',
 'Question 12',
 'Question 13',
 'Question 14',
 'Question 15',
 'Question 16',
 'Question 17',
 'Question 18',
 'Question 19',
 'Unnamed: 56',
 'Question 20',
 'Question 21',
 'Question 22',
 'Unnamed: 60',
 'Question 23',
 'Question 24',
 'Unnamed: 63',
 'Unnamed: 64',
 'Unnamed: 65',
 'Unnamed: 66',
 'Question 25',
 'Unnamed: 68',
 'Unnamed: 69',
 'Unnamed: 70',
 'Unnamed: 71',
 'Unnamed: 72',
 'Unnamed: 73',
 'Unnamed: 74',
 'Unnamed: 75',
 'Question 26',
 'Unnamed: 77',
 'Unnamed: 78',
 'Unnamed: 79',
 'Question 27',
 'Unnamed: 81',
 'Question 28',
 'Question 29',
 'Unnamed: 84',
 'Unnamed: 85',
 'Unnamed: 86',
 'Unnamed: 87',
 'Unnamed: 88',
 'Unnamed: 89',
 'Unnamed: 90',
 'Unnamed: 91',
 'Unnamed: 92',
 'Unnamed: 93',
 'Unnamed: 94',
 'Unnamed: 95',
 'Unnamed: 96',
 'Question 30',
 'Unnamed: 98',
 'Unnamed: 99']

In [13]:
sorted(data)

['Custom Data 1',
 'Email Address',
 'End Date',
 'First Name',
 'Identify which division you work in.',
 'Last Name',
 'Please select the gender in which you identify.',
 'Question 1',
 'Question 10',
 'Question 11',
 'Question 12',
 'Question 13',
 'Question 14',
 'Question 15',
 'Question 16',
 'Question 17',
 'Question 18',
 'Question 19',
 'Question 2',
 'Question 20',
 'Question 21',
 'Question 22',
 'Question 23',
 'Question 24',
 'Question 25',
 'Question 26',
 'Question 27',
 'Question 28',
 'Question 29',
 'Question 3',
 'Question 30',
 'Question 4',
 'Question 5',
 'Question 6',
 'Question 7',
 'Question 8',
 'Question 9',
 'Respondent ID',
 'Start Date',
 'Unnamed: 18',
 'Unnamed: 20',
 'Unnamed: 21',
 'Unnamed: 22',
 'Unnamed: 23',
 'Unnamed: 24',
 'Unnamed: 26',
 'Unnamed: 27',
 'Unnamed: 28',
 'Unnamed: 29',
 'Unnamed: 30',
 'Unnamed: 32',
 'Unnamed: 34',
 'Unnamed: 35',
 'Unnamed: 36',
 'Unnamed: 38',
 'Unnamed: 39',
 'Unnamed: 40',
 'Unnamed: 42',
 'Unnamed: 43',
 'Unnamed: 44',
 'Unnamed: 45',
 'Unnamed: 47',
 'Unnamed: 56',
 'Unnamed: 60',
 'Unnamed: 63',
 'Unnamed: 64',
 'Unnamed: 65',
 'Unnamed: 66',
 'Unnamed: 68',
 'Unnamed: 69',
 'Unnamed: 70',
 'Unnamed: 71',
 'Unnamed: 72',
 'Unnamed: 73',
 'Unnamed: 74',
 'Unnamed: 75',
 'Unnamed: 77',
 'Unnamed: 78',
 'Unnamed: 79',
 'Unnamed: 8',
 'Unnamed: 81',
 'Unnamed: 84',
 'Unnamed: 85',
 'Unnamed: 86',
 'Unnamed: 87',
 'Unnamed: 88',
 'Unnamed: 89',
 'Unnamed: 90',
 'Unnamed: 91',
 'Unnamed: 92',
 'Unnamed: 93',
 'Unnamed: 94',
 'Unnamed: 95',
 'Unnamed: 96',
 'Unnamed: 98',
 'Unnamed: 99',
 'Which duration range best aligns with your tenure at your company?',
 'Which generation are you apart of?',
 'Which of the following best describes your employment type?',
 'Which of the following best describes your position level?']

In [14]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [15]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [16]:
data.columns.tolist()

['Respondent ID',
 'Start Date',
 'End Date',
 'Email Address',
 'First Name',
 'Last Name',
 'Custom Data 1',
 'Identify which division you work in.',
 'Unnamed: 8',
 'Which of the following best describes your position level?',
 'Which generation are you apart of?',
 'Please select the gender in which you identify.',
 'Which duration range best aligns with your tenure at your company?',
 'Which of the following best describes your employment type?',
 'Question 1',
 'Question 2',
 'Question 3',
 'Question 4',
 'Unnamed: 18',
 'Question 5',
 'Unnamed: 20',
 'Unnamed: 21',
 'Unnamed: 22',
 'Unnamed: 23',
 'Unnamed: 24',
 'Question 6',
 'Unnamed: 26',
 'Unnamed: 27',
 'Unnamed: 28',
 'Unnamed: 29',
 'Unnamed: 30',
 'Question 7',
 'Unnamed: 32',
 'Question 8',
 'Unnamed: 34',
 'Unnamed: 35',
 'Unnamed: 36',
 'Question 9',
 'Unnamed: 38',
 'Unnamed: 39',
 'Unnamed: 40',
 'Question 10',
 'Unnamed: 42',
 'Unnamed: 43',
 'Unnamed: 44',
 'Unnamed: 45',
 'Question 11',
 'Unnamed: 47',
 'Question 12',
 'Question 13',
 'Question 14',
 'Question 15',
 'Question 16',
 'Question 17',
 'Question 18',
 'Question 19',
 'Unnamed: 56',
 'Question 20',
 'Question 21',
 'Question 22',
 'Unnamed: 60',
 'Question 23',
 'Question 24',
 'Unnamed: 63',
 'Unnamed: 64',
 'Unnamed: 65',
 'Unnamed: 66',
 'Question 25',
 'Unnamed: 68',
 'Unnamed: 69',
 'Unnamed: 70',
 'Unnamed: 71',
 'Unnamed: 72',
 'Unnamed: 73',
 'Unnamed: 74',
 'Unnamed: 75',
 'Question 26',
 'Unnamed: 77',
 'Unnamed: 78',
 'Unnamed: 79',
 'Question 27',
 'Unnamed: 81',
 'Question 28',
 'Question 29',
 'Unnamed: 84',
 'Unnamed: 85',
 'Unnamed: 86',
 'Unnamed: 87',
 'Unnamed: 88',
 'Unnamed: 89',
 'Unnamed: 90',
 'Unnamed: 91',
 'Unnamed: 92',
 'Unnamed: 93',
 'Unnamed: 94',
 'Unnamed: 95',
 'Unnamed: 96',
 'Question 30',
 'Unnamed: 98',
 'Unnamed: 99']

In [18]:
data.iloc[1]

Respondent ID                                                                                   5.37919e+09
Start Date                                                                              2021-01-22 12:01:17
End Date                                                                                2021-01-22 12:40:34
Email Address                                                                                           NaN
First Name                                                                                              NaN
Last Name                                                                                               NaN
Custom Data 1                                                                                           NaN
Identify which division you work in.                                                         Infrastructure
Unnamed: 8                                                                                              NaN
Which of the following best describes your position level?                                            Staff
Which generation are you apart of?                                    Generation X (born between 1965-1980)
Please select the gender in which you identify.                                                        Male
Which duration range best aligns with your tenure at your company?                                0-2 years
Which of the following best describes your employment type?                              Full time Employee
Question 1                                                                                              NaN
Question 2                                                                                         Answer 6
Question 3                                                                                              NaN
Question 4                                                                                         Answer 2
Unnamed: 18                                                                                             NaN
Question 5                                                                                         Answer 4
Unnamed: 20                                                                                             NaN
Unnamed: 21                                                                                             NaN
Unnamed: 22                                                                                        Answer 5
Unnamed: 23                                                                                        Answer 5
Unnamed: 24                                                                                        Answer 2
Question 6                                                                                              NaN
Unnamed: 26                                                                                        Answer 2
Unnamed: 27                                                                                        Answer 5
Unnamed: 28                                                                                        Answer 3
Unnamed: 29                                                                                             NaN
Unnamed: 30                                                                                             NaN
Question 7                                                                                         Answer 1
Unnamed: 32                                                                                        Answer 1
Question 8                                                                                         Answer 6
Unnamed: 34                                                                                        Answer 3
Unnamed: 35                                                                                        Answer 1
Unnamed: 36                                                                                             NaN
Question 9                                                                                         Answer 1
Unnamed: 38                                                                                        Answer 3
Unnamed: 39                                                                                        Answer 6
Unnamed: 40                                                                                        Answer 3
Question 10                                                                                        Answer 6
Unnamed: 42                                                                                             NaN
Unnamed: 43                                                                                        Answer 8
Unnamed: 44                                                                                             NaN
Unnamed: 45                                                                                             NaN
Question 11                                                                                             NaN
Unnamed: 47                                                                                        Answer 8
Question 12                                                                                             NaN
Question 13                                                                                             NaN
Question 14                                                                                        Answer 2
Question 15                                                                                        Answer 2
Question 16                                                                                        Answer 4
Question 17                                                                                        Answer 6
Question 18                                                                                        Answer 4
Question 19                                                                                             NaN
Unnamed: 56                                                                                        Answer 8
Question 20                                                                                        Answer 8
Question 21                                                                                             NaN
Question 22                                                                                        Answer 8
Unnamed: 60                                                                                             NaN
Question 23                                                                                             NaN
Question 24                                                                                             NaN
Unnamed: 63                                                                                             NaN
Unnamed: 64                                                                                        Answer 2
Unnamed: 65                                                                                        Answer 5
Unnamed: 66                                                                                        Answer 8
Question 25                                                                                        Answer 7
Unnamed: 68                                                                                        Answer 8
Unnamed: 69                                                                                        Answer 8
Unnamed: 70                                                                                             NaN
Unnamed: 71                                                                                        Answer 4
Unnamed: 72                                                                                        Answer 5
Unnamed: 73                                                                                             NaN
Unnamed: 74                                                                                        Answer 6
Unnamed: 75                                                                                             NaN
Question 26                                                                                        Answer 4
Unnamed: 77                                                                                        Answer 5
Unnamed: 78                                                                                             NaN
Unnamed: 79                                                                                        Answer 7
Question 27                                                                                        Answer 5
Unnamed: 81                                                                                             NaN
Question 28                                                                                             NaN
Question 29                                                                                        Answer 3
Unnamed: 84                                                                                        Answer 2
Unnamed: 85                                                                                        Answer 5
Unnamed: 86                                                                                        Answer 6
Unnamed: 87                                                                                             NaN
Unnamed: 88                                                                                        Answer 6
Unnamed: 89                                                                                        Answer 1
Unnamed: 90                                                                                             NaN
Unnamed: 91                                                                                        Answer 8
Unnamed: 92                                                                                        Answer 8
Unnamed: 93                                                                                        Answer 4
Unnamed: 94                                                                                             NaN
Unnamed: 95                                                                                             NaN
Unnamed: 96                                                                                        Answer 5
Question 30                                                                                             NaN
Unnamed: 98                                                                                             NaN
Unnamed: 99                                                                                             NaN
Name: 1, dtype: object

In [19]:
mydata = pd.DataFrame(data.iloc[1])

In [23]:
mydata = mydata.reset_index()

In [24]:
mydata.columns = ['Col-1','Col-2']

In [27]:
mydata.tail(20)

          Col-1     Col-2
80  Question 27  Answer 5
81  Unnamed: 81       NaN
82  Question 28       NaN
83  Question 29  Answer 3
84  Unnamed: 84  Answer 2
85  Unnamed: 85  Answer 5
86  Unnamed: 86  Answer 6
87  Unnamed: 87       NaN
88  Unnamed: 88  Answer 6
89  Unnamed: 89  Answer 1
90  Unnamed: 90       NaN
91  Unnamed: 91  Answer 8
92  Unnamed: 92  Answer 8
93  Unnamed: 93  Answer 4
94  Unnamed: 94       NaN
95  Unnamed: 95       NaN
96  Unnamed: 96  Answer 5
97  Question 30       NaN
98  Unnamed: 98       NaN
99  Unnamed: 99       NaN