In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [11]:
pd.set_option('display.max_columns', 100) # Setting pandas to display a N number of columns
pd.set_option('display.max_rows', 10) # Setting pandas to display a N number rows
pd.set_option('display.width', 1000) # Setting pandas dataframe display width to N

In [2]:
for dirname, dirs, filenames in os.walk('datasets'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

datasets\cars-concat.csv
datasets\cars-grp.csv
datasets\cars.csv
datasets\Tele-Cust-Churn.csv
datasets\titanic\gender_submission.csv
datasets\titanic\test.csv
datasets\titanic\train.csv
datasets\Zomato\Country-Code.xlsx
datasets\Zomato\zomato.csv

In [5]:
zom_o = pd.read_csv('datasets\Zomato\zomato.csv',encoding='latin-1')

In [4]:
import chardet
with open('datasets\Zomato\zomato.csv', 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'Windows-1254',
 'confidence': 0.49068171335281274,
 'language': 'Turkish'}

In [9]:
zom = zom_o.copy()

In [12]:
zom.head(2)

   Restaurant ID   Restaurant Name  Country Code         City                                            Address                                    Locality                                   Locality Verbose   Longitude   Latitude                    Cuisines  Average Cost for two          Currency Has Table booking Has Online delivery Is delivering now Switch to order menu  Price range  Aggregate rating Rating color Rating text  Votes
0        6317637  Le Petit Souffle           162  Makati City  Third Floor, Century City Mall, Kalayaan Avenu...   Century City Mall, Poblacion, Makati City  Century City Mall, Poblacion, Makati City, Mak...  121.027535  14.565443  French, Japanese, Desserts                  1100  Botswana Pula(P)               Yes                  No                No                   No            3               4.8   Dark Green   Excellent    314
1        6304287  Izakaya Kikufuji           162  Makati City  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...  Little Tokyo, Legaspi Village, Makati City  Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101  14.553708                    Japanese                  1200  Botswana Pula(P)               Yes                  No                No                   No            3               4.5   Dark Green   Excellent    591

In [13]:
zom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
Restaurant ID           9551 non-null int64
Restaurant Name         9551 non-null object
Country Code            9551 non-null int64
City                    9551 non-null object
Address                 9551 non-null object
Locality                9551 non-null object
Locality Verbose        9551 non-null object
Longitude               9551 non-null float64
Latitude                9551 non-null float64
Cuisines                9542 non-null object
Average Cost for two    9551 non-null int64
Currency                9551 non-null object
Has Table booking       9551 non-null object
Has Online delivery     9551 non-null object
Is delivering now       9551 non-null object
Switch to order menu    9551 non-null object
Price range             9551 non-null int64
Aggregate rating        9551 non-null float64
Rating color            9551 non-null object
Rating text             9551 non-null object
Votes                   9551 non-null int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [19]:
zom.info(verbose = False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Columns: 21 entries, Restaurant ID to Votes
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [23]:
zom.select_dtypes(include ='number' ).columns

Index(['Restaurant ID', 'Country Code', 'Longitude', 'Latitude', 'Average Cost for two', 'Price range', 'Aggregate rating', 'Votes'], dtype='object')

In [25]:
zom.select_dtypes(include ='int64' ).columns

Index(['Restaurant ID', 'Country Code', 'Average Cost for two', 'Price range', 'Votes'], dtype='object')

In [26]:
zom.select_dtypes(include ='float64' ).columns

Index(['Longitude', 'Latitude', 'Aggregate rating'], dtype='object')

In [27]:
zom.select_dtypes(include ='O' ).columns

Index(['Restaurant Name', 'City', 'Address', 'Locality', 'Locality Verbose', 'Cuisines', 'Currency', 'Has Table booking', 'Has Online delivery', 'Is delivering now', 'Switch to order menu', 'Rating color', 'Rating text'], dtype='object')

In [28]:
zom.select_dtypes(include ='category' ).columns

Index([], dtype='object')

In [30]:
zom.select_dtypes(include = 'number').head(5)

   Restaurant ID  Country Code   Longitude   Latitude  Average Cost for two  Price range  Aggregate rating  Votes
0        6317637           162  121.027535  14.565443                  1100            3               4.8    314
1        6304287           162  121.014101  14.553708                  1200            3               4.5    591
2        6300002           162  121.056831  14.581404                  4000            4               4.4    270
3        6318506           162  121.056475  14.585318                  1500            4               4.9    365
4        6314302           162  121.057508  14.584450                  1500            4               4.8    229

In [32]:
zom.select_dtypes(include ='O' ).head(2)

    Restaurant Name         City                                            Address                                    Locality                                   Locality Verbose                    Cuisines          Currency Has Table booking Has Online delivery Is delivering now Switch to order menu Rating color Rating text
0  Le Petit Souffle  Makati City  Third Floor, Century City Mall, Kalayaan Avenu...   Century City Mall, Poblacion, Makati City  Century City Mall, Poblacion, Makati City, Mak...  French, Japanese, Desserts  Botswana Pula(P)               Yes                  No                No                   No   Dark Green   Excellent
1  Izakaya Kikufuji  Makati City  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...  Little Tokyo, Legaspi Village, Makati City  Little Tokyo, Legaspi Village, Makati City, Ma...                    Japanese  Botswana Pula(P)               Yes                  No                No                   No   Dark Green   Excellent

In [43]:
zom  = zom[zom.columns.difference(['Restaurant Name', 'Address','Locality','Locality Verbose','Longitude','Latitude','Restaurant ID'])]

In [45]:
zom.head(2)

   Aggregate rating  Average Cost for two         City  Country Code                    Cuisines          Currency Has Online delivery Has Table booking Is delivering now  Price range Rating color Rating text Switch to order menu  Votes
0               4.8                  1100  Makati City           162  French, Japanese, Desserts  Botswana Pula(P)                  No               Yes                No            3   Dark Green   Excellent                   No    314
1               4.5                  1200  Makati City           162                    Japanese  Botswana Pula(P)                  No               Yes                No            3   Dark Green   Excellent                   No    591

In [46]:
zom.tail(2)

      Aggregate rating  Average Cost for two       City  Country Code         Cuisines          Currency Has Online delivery Has Table booking Is delivering now  Price range Rating color Rating text Switch to order menu  Votes
9549               4.0                   120  ÛÁstanbul           208  Restaurant Cafe  Turkish Lira(TL)                  No                No                No            4        Green   Very Good                   No    901
9550               4.0                    55  ÛÁstanbul           208             Cafe  Turkish Lira(TL)                  No                No                No            2        Green   Very Good                   No    591

In [47]:
zom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 14 columns):
Aggregate rating        9551 non-null float64
Average Cost for two    9551 non-null int64
City                    9551 non-null object
Country Code            9551 non-null int64
Cuisines                9542 non-null object
Currency                9551 non-null object
Has Online delivery     9551 non-null object
Has Table booking       9551 non-null object
Is delivering now       9551 non-null object
Price range             9551 non-null int64
Rating color            9551 non-null object
Rating text             9551 non-null object
Switch to order menu    9551 non-null object
Votes                   9551 non-null int64
dtypes: float64(1), int64(4), object(9)
memory usage: 1.0+ MB

In [52]:
zom.describe()

       Aggregate rating  Average Cost for two  Country Code  Price range         Votes
count       9551.000000           9551.000000   9551.000000  9551.000000   9551.000000
mean           2.666370           1199.210763     18.365616     1.804837    156.909748
std            1.516378          16121.183073     56.750546     0.905609    430.169145
min            0.000000              0.000000      1.000000     1.000000      0.000000
25%            2.500000            250.000000      1.000000     1.000000      5.000000
50%            3.200000            400.000000      1.000000     2.000000     31.000000
75%            3.700000            700.000000      1.000000     2.000000    131.000000
max            4.900000         800000.000000    216.000000     4.000000  10934.000000

In [55]:
zom.isnull().sum().sum()

9

In [62]:
zom.isnull().any()

Aggregate rating        False
Average Cost for two    False
City                    False
Country Code            False
Cuisines                 True
                        ...
Price range             False
Rating color            False
Rating text             False
Switch to order menu    False
Votes                   False
Length: 14, dtype: bool

In [61]:
zom.columns[zom.isnull().any()]

Index(['Cuisines'], dtype='object')

In [63]:
zom.columns[zom.isnull().any()].tolist()

['Cuisines']

In [65]:
zom.isnull().sum().value_counts()

0    13
9     1
dtype: int64