In [1]:
# Using Python as a Calculator

In [2]:
3 + 4+ 5

12

In [3]:
12 - 4

8

In [4]:
12*4

48

In [5]:
2**3

8

In [6]:
2*2*2

8

In [7]:
4**4

256

In [8]:
12%7

5

In [9]:
3%2

1

In [10]:
print('Hello')

Hello

In [11]:
print(3*2)

6

In [12]:
print('Python')

Python

In [13]:
2*2

4

In [14]:
'2*2'

'2*2'

In [15]:
print(2+2)

4

In [16]:
print('2+2')

2+2

In [17]:
my_name = 'Nitin'

In [18]:
mycal = 2*3

In [19]:
my_name

'Nitin'

In [20]:
mycal

6

In [21]:
print(my_name)

Nitin

In [22]:
my_name

'Nitin'

In [23]:
my_name.upper()

'NITIN'

In [24]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [25]:
# help = 'Hi'

In [26]:
help

Type help() for interactive help, or help(object) for help about object.

In [27]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [1]:
# help = 'hi'

In [29]:
print(help)

hi

In [2]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [4]:
# Creating basic data types

In [5]:
my_int = 12
my_float = 12.5
my_str = 'Nitin'
my_bool = True

In [6]:
type(my_int)

int

In [7]:
type(my_float)

float

In [8]:
emp = 1500

In [9]:
emp = 'Nitin'

In [10]:
Emp = 'Monga'

In [11]:
print(emp)

Nitin

In [12]:
print(Emp)

Monga

In [13]:
my_name = 'Nitn'

In [1]:
my_var1 = 'Nitn'

In [3]:
my_str  = 'hello world'

In [4]:
print(my_str)

hello world

In [6]:
myvar = "Nitin's Data Science Class"

In [7]:
myvar

"Nitin's Data Science Class"

In [8]:
ds_wiki = '''Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from structured and unstructured data,[1][2] and apply knowledge and actionable insights from data across a broad range of application domains. Data science is related to data mining, machine learning and big data.'''

In [9]:
ds_wiki

'Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from structured and unstructured data,[1][2] and apply knowledge and actionable insights from data across a broad range of application domains. Data science is related to data mining, machine learning and big data.'

In [10]:
len(ds_wiki)

355

In [11]:
len(my_str)

11

In [13]:
my_str[4]

'o'

In [14]:
my_str[0]

'h'

In [15]:
my_str

'hello world'

In [18]:
my_str[0:6]

'hello '

In [19]:
my_str[:6]

'hello '

In [20]:
my_str[6:]

'world'

In [23]:
my_str[0:8]

'hello wo'

In [24]:
my_str[0:8:2]

'hlow'

In [27]:
mystr = 'Have a good day'
# select good using sqr brkt

In [25]:
my_str[0:8]

'hello wo'

In [28]:
mystr[7:11]

'good'

In [29]:
mystr1 = 'Have a '
mystr2 = ' good'
mystr3 = ' day'

In [31]:
mystr = mystr1 + mystr2 + mystr3

In [32]:
print(mystr)

Have a  good day

In [39]:
mynum3 = '11'
mynum4 = '22'

In [34]:
mynum1+mynum2

'1122'

In [35]:
print(mynum1 + mynum2)

1122

In [43]:
mynum1 = 11
mynum2 = 22

In [37]:
print(mynum1 + mynum2)

33

In [40]:
type(mynum3)

str

In [44]:
type(mynum1)

int

# Lists - 
* Ordered collection of objects
* Can have any types mixed data types or objects types
* Are mutable
* Lists can have sub-lists

In [45]:
my_list = [1,2,3,4,5]

In [46]:
type(my_list)

list

In [47]:
# mixed datatypes
my_list_mixed = [1,2,'HI','Hello',True,5]

In [48]:
print(my_list_mixed)

[1, 2, 'HI', 'Hello', True, 5]

In [49]:
len(my_list_mixed)

6

In [50]:
my_sublist = [1,2,3,'HI',[4,5]]

In [51]:
my_sublist

[1, 2, 3, 'HI', [4, 5]]

In [52]:
# Create list - 1,2,3, mon , tue , false, ['hello',7]
# Slice or select - 2 & check the datat type
# sleect mon check data type
# select false check data type
# select [hello , 7] check data type

In [53]:
my_list_mixed = [1,2,'HI','Hello',True,5]

In [55]:
my_list_mixed[2]

'HI'

In [56]:
# Concatinating Lists
list1 = ['Mon','Tue']
list2 = ['Wed', 'Thu']

In [57]:
list3 = list1 + list2

In [58]:
list3

['Mon', 'Tue', 'Wed', 'Thu']

In [61]:
list4 = list3 +['Fri']

In [62]:
list4

['Mon', 'Tue', 'Wed', 'Thu', 'Fri']

In [63]:
# Manipulating Lists & updating lists
my_list = [1,2,3,4,5]

In [65]:
my_list[2]=100

In [66]:
my_list

[1, 2, 100, 4, 5]

In [67]:
del my_list[2]

In [68]:
my_list

[1, 2, 4, 5]

In [69]:
# Methods available on the list
my_list.pop()

5

In [70]:
my_list

[1, 2, 4]

# Dictionaries - 
* Are the Key-Value pairs inside the curly brackets
* Keys of a dictionary are immutable and can’t be changed
* Values of a dictionary are mutable and can be updated
* Unordered & Can’t be sorted
* Access values using the name of the keys

In [71]:
# Country name & country code
country_code = {
    'US':'+001',
    'India':'+91',
    'UK':'+44',
    'Germany':'+49'
}

In [73]:
type(country_code)

dict

In [74]:
country_code['US']

'+001'

In [75]:
country_code.keys()

dict_keys(['US', 'India', 'UK', 'Germany'])

In [76]:
country_code.values()

dict_values(['+001', '+91', '+44', '+49'])

In [77]:
marks_ds={
    'mike':{'Python':40,'Stats':25,'ML':[44,40,35]},
    'eva':{'Python':48,'Stats':35,'ML':[40,42,30]}
    
}

In [78]:
# find the key & value pairs for all the dictionaries

In [80]:
myva1 = marks_ds['mike']

In [82]:
marks_ds['mike']['Python']

40

In [83]:
marks_ds['mike']['Python']

40

In [84]:
marks_ds['eva']

{'Python': 48, 'Stats': 35, 'ML': [40, 42, 30]}

In [86]:
marks_ds['eva']['ML'][1]

42

In [87]:
marks_ds['eva']['ML'][1]=99

In [88]:
marks_ds

{'mike': {'Python': 40, 'Stats': 25, 'ML': [44, 40, 35]},
 'eva': {'Python': 48, 'Stats': 35, 'ML': [40, 99, 30]}}

In [89]:
country_code = {
    'US':'+001',
    'India':'+91',
    'UK':'+44',
    'Germany':'+49'
}

In [92]:
country_code['India']='+091'

In [93]:
country_code

{'US': '+001', 'India': '+091', 'UK': '+44', 'Germany': '+49'}

In [94]:
country_code['Spain']='+34'

In [95]:
country_code

{'US': '+001', 'India': '+091', 'UK': '+44', 'Germany': '+49', 'Spain': '+34'}

In [96]:
len(country_code)

5

In [97]:
del (country_code['Spain'])

In [98]:
country_code

{'US': '+001', 'India': '+091', 'UK': '+44', 'Germany': '+49'}

# Tuples
* Tuples are the sequence of immutable objects. Hence, can’t be updated
* Access tuple elements using square bracket [ ] 
* We use tuples in the functions when we pass in functions & don’t want them to get changed  
* Can be unpacked and assigned to different variables
* It use parenthesis ( )
* Tuples are faster than List

In [99]:
my_tuple = (1,2,3,4)

In [100]:
type(my_tuple)

tuple

In [101]:
len(my_tuple)

4

In [102]:
my_tuple[2]

3

In [104]:
# dictionary, list, str, int in a tuple
my_tuple_mix = ({'Prime':[2,3,5,7]}, 'Hello',[1,2],5)

In [105]:
my_tuple_mix

({'Prime': [2, 3, 5, 7]}, 'Hello', [1, 2], 5)

In [106]:
my_tuple_mix[1]

'Hello'

In [107]:
type(my_tuple_mix[1])

str

In [108]:
type(my_tuple_mix[0])

dict

In [109]:
my_tuple

(1, 2, 3, 4)

In [110]:
my_tuple[1]

2

In [111]:
my_tuple[1]=100

TypeError: 'tuple' object does not support item assignment

In [115]:
dup_tuple=(1,2,3,4,4,4,4,4,6,7,9,100,9)

In [116]:
dup_tuple.count(4)

5

In [117]:
dup_tuple.count(9)

2

In [121]:

(a,b,c) = ('abc',77,[1234])

In [122]:
a

'abc'

In [123]:
b

77

In [124]:
c

[1234]

#  Sets
* Sets - Unordered collection of Unique Items. That means no repeating items in the sets
* Has curly brackets { }

In [125]:
numbers  = {1,2,2,3,4,4,4,4,5,6,4,5}

In [126]:
type(numbers)

set

In [127]:
print(numbers)

{1, 2, 3, 4, 5, 6}