# Comparators

In [1]:
True == False

False

In [2]:
True ==  1

True

In [3]:
False == 0

True

In [4]:
False == False

True

In [5]:
3*7 < 77/2

True

In [6]:
True !=False

True

In [7]:
'data'=='Data'

False

In [8]:
[ord(x) for x in 'data']

[100, 97, 116, 97]

# Identity Operators
Refering to same object in the memory

In [9]:
 4 is 4

True

In [10]:
x = 4

In [11]:
y = 4

In [12]:
x is y

True

In [13]:
id(x)

140714670727664

In [14]:
id(y)

140714670727664

In [15]:
name1 = 'nitin'

In [16]:
name2 = 'nitin'

In [17]:
id(name1)

2284187254448

In [18]:
id(name2)

2284187254448

In [19]:
name1 is name2

True

In [20]:
mylist1 = [1,2,3]

In [21]:
mylist2 = [1,2,3]

In [22]:
id(mylist1)

2284188592648

In [23]:
id(mylist2)

2284188475592

In [24]:
mylist2 = mylist1

In [25]:
id(mylist2)

2284188592648

In [26]:
mylist1 is mylist2

True

# Operators

In [27]:
1<7 and 4>5

False

In [28]:
2>4 or 5<8

True

In [29]:
1==2 or 2==3 or 4==4

True

In [30]:
False and False

False

In [31]:
False or False

False

In [32]:
2+3 >7 and 3-4 >9

False

# Membership Operator
Membership operators are used to test if a sequence is presented in an object

In [33]:
my_list = [1,2,3,4,5]

In [34]:
4 in my_list

True

In [35]:
7 in my_list

False

In [36]:
mystr = 'hello world'

In [37]:
'h' in mystr

True

In [38]:
'hello' in mystr

True

In [39]:
'hello ' in mystr

True

In [40]:
my_dict = {'cust':'Ron',
          'acnt':100}

In [41]:
'cust' in my_dict

True

In [42]:
'Ron' in my_dict

False

# if Statement

In [43]:
if 2<3:
    print('hello')

hello

In [44]:
if 2>3:
    print('hello')

In [45]:
if 3>2:
    print('hello')

hello

In [46]:
if True:
    print('HI')

HI

In [47]:
if False:
    print('HI')

In [48]:
list1 = [1,2,3,4]

In [49]:
if 1 in list1:
    print('hello')

hello

In [50]:
if 7 in list1:
    print('hello')

In [51]:
if 2 in list1:
    c = 2+2

In [52]:
print(c)

4

In [53]:
if 7 in list1:
    d = 3+3

In [54]:
print(d)

NameError: name 'd' is not defined

In [ ]:
if 1 in list1:
    print('hi')
d = 3+3

In [ ]:
print(d)

In [ ]:
if 2!=9:
    print('Not Equal')
print(' 2 is not equal to 9')

# If & Else

In [ ]:
if True:
    print('True')
else:
    print('False')

In [ ]:
if False:
    print('True')
else:
    print('False')

In [ ]:
if 1==2:
    print('1 is not equal to 2')
else:
    print('1 is equal to 2')

In [ ]:
# Create an if else statement
# condition True or False OR your condition
# if -> statement 1 -> a = 5
# else -> statement 2 -> a = 9

# If, Elif, else

In [ ]:
if 2 != 9:
    print('Statement1')
elif 2 < 9:
    print('Statement2')
else:
    print('Statement3')

In [ ]:
if 2 > 9:
    print('Statement1')
elif 2 < 9:
    print('Statement2')
else:
    print('Statement3')

In [ ]:
if 2 > 9:
    print('Statement1')
elif 2 == 9:
    print('Statement2')
else:
    print('Statement3')

# For Loop
Are used to iterate over a sequence 

Syntax

For var in sequence :<br>
>expression

In [ ]:
prime_list = [2,3,5,7,11]

In [ ]:
for prime in prime_list:
    print(prime)

In [ ]:
for prime in prime_list:
    print('Hello')

In [ ]:
# i +=1 
# i= i+1
for i in prime_list:
    i +=1
    print(i)

In [ ]:
sal = [200,300,35000,1000,5000,2000,6200,7000,100000,2000,8400]

In [ ]:
for salary in sal:
    print(salary)
    if salary > 7000:
        print('Your Salary is greater than 7000')

In [ ]:
for salary in sal:
    if salary > 7000:
        print(f'Salary is greater than {salary}')
    else:
        print(f'{salary} Salary is less than 7000')

In [ ]:
for salary in sal:
    if salary > 7000:
        print('Your Salary is greater than {}'.format(salary))
    else:
        print('{} Your Salary is less than 7000'.format(salary))

In [ ]:

abc = {1,2,3,4,4,4,5,4,1,5}

In [ ]:
for i in abc:
    print(i)

In [ ]:
str1 = set('abcdefghijklmn')

In [ ]:
for i in str1:
    print(i)

In [ ]:
mylist = [1,2,3,4,5,6]

In [ ]:
listsum = 0
for i in mylist:
    listsum = i + listsum
print(listsum)

In [ ]:
listsum = 0
for i in mylist:
    listsum = i + listsum
    print(listsum)

In [ ]:
# Iterating over the string
for i in 'aeiou':
    print(i)

In [ ]:
# Iterating over the tuple
tup = (1,2,3,4)

In [ ]:
for i in tup:
    print(i)

In [ ]:
# Tuple unpacking
my_list = [('acc1',1),('acc2',2),('acc3',3)]

In [ ]:
len(my_list)

In [ ]:
for acc in my_list:
    print(acc)

In [ ]:
for acc in my_list:
    print(type(acc))

In [ ]:
for i,j in my_list:
    print(i,'\t',j)

In [ ]:
for i,j in my_list:
    print(i,' ',j)

In [ ]:
for i,j in my_list:
    print(type(i),' ',type(j))

In [ ]:
# Iterating over the dictionary
my_dict = {'python':100,
          'statistics':80,
          'ML':70}

In [ ]:
for d in my_dict:
    print(d)

In [ ]:
for d in my_dict.values():
    print(d)

In [ ]:
for d in my_dict.items():
    print(d)

In [ ]:
for d in my_dict.items():
    print(type(d))

In [ ]:
for key,value in my_dict.items():
    print(key,value)

In [ ]:
for key,value in my_dict.items():
    print(value)

# While Loop
Iterate over the object till the condition is true

While condition*:<br>
   > expression

In [ ]:
num = 10
while num<=20:
    print(num)
    #num = num + 2
    num += 2

In [ ]:
# else in while loop
num = 10
while num<=20:
    print(num)
    #num = num + 2
    num += 2
else:
    print('loop ends')

# Using Break, Continue, Pass in my code

<font color = '#fd3a69'> 
1. Pass is used when syntax requires some expression to be present but I don't want to execute anything or
2. When I am still building a logic and loop to just pass through it with out doing any thing

In [ ]:
mylist = [1,2,3]

In [ ]:
for i in mylist:

In [ ]:
for i in mylist:
    pass

In [ ]:
for i in mylist:
    pass
else:
    print('hi')

In [2]:
for i in 'hello':

        print(i)

h
e
l
l
o

In [1]:
for i in 'hello':
    if i=='l':
        pass
    else:
        print(i)

h
e
o

# Continue
<h4 style = 'color:#16697a'>
1. The continue statement is used to skip the rest of the code inside a loop for the current iteration only.<br> 
2. Loop does not terminate but continues on with the next iteration.</h4>
3. Pass simply does nothing, while continue goes on with the next loop iteration

In [3]:
for i in 'hello':
    if i=='l':
        continue
        print(i)

In [8]:
for i in 'hello':
    if i=='l':
        continue
    elif i =='l':
        print('Hi')
    
    else:
        
        print(i)

h
e
o

In [14]:
mylist = [0, 1, 2,3,4,5]

In [16]:
for i in mylist:
    
    if not i:
        
        pass
    print(i)

0
1
2
3
4
5

In [18]:
for i in mylist:
    
    if 0 == i:
        
        pass
    print(i)

0
1
2
3
4
5

In [19]:
for i in mylist:
    
    if 0 == i:
        
        continue
    print(i)

1
2
3
4
5

In [17]:
for element in a:
    
    if not element:
        
        continue
    print(element)

1
2
3
4
5

In [4]:
for i in 'hello':
    if i=='l':
        continue
        print(i)
    print(i)

h
e
o

In [ ]:
mystr = 'hello world'

In [ ]:
# print only consonants not vowels
    
i = 0
while i <len(mystr):
    if mystr[i] in ('aeiou'):
        i = i + 1
        continue
        
    print(mystr[i])
    i = i + 1

In [ ]:
i = 0
while i <len(mystr):
    if mystr[i] not in ('aeiou'):
        i = i + 1
        continue
        
    print(mystr[i])
    i = i + 1

# Break Statement
1. Comes out of the current loop. 
2. The break statement in Python terminates the current loop and resumes execution at the next statement.
3. If the break statement is inside a nested loop (loop inside another loop), the break statement will terminate the innermost loop.
4. The most common use for break is when some external condition is triggered requiring a hasty exit from a loop. 
5. The break statement can be used in both while and for loops.

In [ ]:
i = 0
while i <len(mystr):
    if mystr[i] in ('aeiou'):
        i = i + 1
        break
        
    print(mystr[i])
    i = i + 1

In [ ]:
mynum

In [ ]:
mynums = [1,2,12,'h',4,44,5,10,6,7,77,71,'j',4,2,4,6,4,54,]

In [ ]:
for i in mynums:
    if type(i)== str:
        break
    print(i)

In [ ]:
my_list = [10,100,2000,30,35,590,11,120,70,1000,700,777,989]

In [ ]:
myoutliers = []
for i in my_list:
    if i < 500:
        continue
    myoutliers.append(i)

In [ ]:
myoutliers

In [ ]:
not_outliers = []
for i in my_list:
    if i > 500:
        continue
    not_outliers.append(i)

In [ ]:
not_outliers

In [ ]:
my_list.extend([99])

In [ ]:
my_list.append(7)

In [ ]:
my_list

In [ ]:
my_list.insert(2,999)

In [ ]:
my_list

# Range - range(start, stop, stepsize)  
1. Default start is 0, default step use is 1 
2. Range is an inbuilt function.
3. Returns list or sequence of numbers
4. Commonly used with loops

In [ ]:
range(7)

In [ ]:
list(range(7))

In [ ]:
for i in range(7):
    print(i)

In [ ]:
list(range(2,15,4))

In [ ]:
for i in range(-2,2):
    print(i)

In [ ]:
for i in range(10, 2, -1):
    print(i)

In [ ]:
mylist=[1,2,3,4]

In [ ]:
for i in range(len(mylist)):
    print(i)

# Enumerate Function
* We can print value & index using enumerate function

In [ ]:
primelist = [2,3,5,7,11]

In [ ]:
indexnum = 0
for i in primelist:
    print('prime number at index {} is {}'.format(indexnum,i))
    indexnum = indexnum +1

In [ ]:
indexnum = 0
for i in primelist:
    print('prime number at index {a} is {b}'.format(a= indexnum,b = i))
    indexnum = indexnum +1

In [ ]:
indexnum = 0
for i in primelist:
    print(f'prime number at index {indexnum} is {i}')
    indexnum = indexnum +1

In [ ]:
# We get tuples as an output
for i in enumerate(primelist):
    print(i)

In [ ]:
# We can unpack tuples
for i,j in enumerate(primelist):
    print('At index number',i,'we have',j)

# Zip Function
* The zip() function creates an iterator that will zip elements from two or more iterables

In [ ]:
mylist = [1,2,3,4]
mystr = ['a','e','i','o']

In [ ]:
zip(mylist,mystr)

In [ ]:
list(zip(mylist,mystr))

In [ ]:
for i in zip(mylist,mystr):
    print(i)

In [ ]:
for i,j in zip(mylist,mystr):
    print(i,' ',j)

In [56]:
mylist = [1,2,3,4]
mystr = ['a','e','i','o']
spcl = ['!','@','#']

In [57]:
for i,j,k in zip(mylist,mystr,spcl):
    print(i,' ',j,' ',k)

1   a   !
2   e   @
3   i   #

In [63]:
mynew_list = input('please enter the list:')

please enter the list:1234

In [64]:
mynew_list

'1234'

In [65]:
list(mynew_list)

['1', '2', '3', '4']

# items function
* Function will print out key & values of a dictionary or data frame

In [68]:
marks = {
    'Name':['Steve','Bill','Nancy'],
    'marks':[44,32,49]
}

In [69]:
for i in marks.items():
    print(i)

('Name', ['Steve', 'Bill', 'Nancy'])
('marks', [44, 32, 49])

In [70]:
marks.items()

dict_items([('Name', ['Steve', 'Bill', 'Nancy']), ('marks', [44, 32, 49])])

In [71]:
for i,j in marks.items():
    print(i,'  ',j)

Name    ['Steve', 'Bill', 'Nancy']
marks    [44, 32, 49]

In [1]:
strm = 'abcde'

In [2]:
set(strm)

{'a', 'b', 'c', 'd', 'e'}

In [3]:
for i in set(strm):
    print(i)

a
e
d
c
b

# List Comprehensions
1. List comprehension is an elegant way to define and create list in Python
2. It is a good substitute for a for loop to build lists in a single line
3. List comprehensions are much faster than for loop and map functions
4. List comprehension is a complete substitute for the lambda function as well as the functions map(), filter() and reduce()
5. Components of a list comprehensions are Iterable, iterator variable, condition & output expression<br>

      <br /> mylist = [expression for member in iterable]
      <br /> newlist = [expression for member in iterable (if conditional)]

In [2]:
# Converting alphabets of Hello World into a list ['H','e','l','l','o',' ','W','o','r','l','d']
mystr = 'Hello World'

In [4]:
mystrlist =[]
for i in mystr:
    mystrlist.append(i)

In [5]:
mystrlist

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [11]:
mycomlist = [i for i in mystr]

In [14]:
mycomlist

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [8]:
# Create a list of squares of numbers in the given list
myprime = [2,3,5,7,11]

In [9]:
newsqlist =[]
for i in myprime:
    newsqlist.append(i*i)

In [10]:
newsqlist

[4, 9, 25, 49, 121]

In [15]:
mycompsq = [i*i for i in myprime]

In [16]:
mycompsq

[4, 9, 25, 49, 121]

In [17]:
mystr

'Hello World'

In [18]:
# With conditions
# print only consonants
mynewstr = []
for alpha in mystr:
    if alpha not in 'aeiou':
        mynewstr.append(alpha)

In [19]:
mynewstr

['H', 'l', 'l', ' ', 'W', 'r', 'l', 'd']

In [20]:
mycnewstr = [ alpha for alpha in mystr if alpha not in 'aeiou']

In [21]:
mycnewstr

['H', 'l', 'l', ' ', 'W', 'r', 'l', 'd']

In [22]:
# Nested IF
num_list = [y for y in range(100) if y % 2 == 0 if y % 5 == 0]
print(num_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [23]:
num_list = [y for y in range(100) if y % 2 == 0 and y % 5 == 0]

In [24]:
num_list

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

### Use if else in list comprehensions as long as code is readable

In [25]:
obj = ["Even" if i%2==0 else "Odd" for i in range(10)]
print(obj)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [33]:
abc = [y if y%2==0 else 'hi' for y in range(10)]

In [34]:
abc

[0, 'hi', 2, 'hi', 4, 'hi', 6, 'hi', 8, 'hi']

In [37]:
list1 = [1,2,3]
list2 = [2,3,5]

In [44]:
# Nested For Loop
newlist = []
for i in list1:
    for j in list2:
        newlist.append(i*j)

In [45]:
newlist

[2, 3, 5, 4, 6, 10, 6, 9, 15]

In [42]:
mylist =  [(i*j) for i in list1 for j in list2]

In [43]:
mylist

[2, 3, 5, 4, 6, 10, 6, 9, 15]

# Methods
1. Methods are like functions
2. In python everything is object
3. Objects have methods associated, depending upon type
4. Based on type of objects methods behaves differently

# Important Methods on Strings
Note: All string methods returns new values. They do not change the original string.

In [65]:
mystr = 'hello world'

In [66]:
mystr.capitalize()

'Hello world'

In [2]:
mystr = 'hello woRld World'

In [3]:
# Imp Capitalise - Will capitalise the 1st letter of the string
mystr.capitalize()

'Hello world world'

In [51]:
mystr

'hello world'

In [67]:
mystr = 'Hello WoRld WORLD'

In [68]:
# casefold - Converts string into lower case
mystr.casefold()

'hello world world'

In [4]:
firstString = "der Fluß"
secondString = "der Fluss"

# ß is equivalent to ss
if firstString.casefold() == secondString.casefold():
    print('The strings are equal.')
else:
    print('The strings are not equal.')

The strings are equal.

In [5]:
firstString = "der Fluß"
secondString = "der Fluss"

# ß is equivalent to ss
if firstString.lower() == secondString.lower():
    print('The strings are equal.')
else:
    print('The strings are not equal.')

The strings are not equal.

In [71]:
mystr = 'Hello'

In [73]:
# Imp
# Pads string with specified character - Centered string with length width & fill char on either side (* / '' etc)
# string.center(width[, fillchar])
# width is required
# fillchar is option. Default is space
mystr.center(10,'*')

'**Hello***'

In [75]:
mystr = 'Hello World'

In [77]:
#I want to find out how many times substring is used in the sentence
# string.count(substring, start=..., end=...)
# substring - string whose count is to be found.
# start (Optional) - starting index within the string where search starts.
# end (Optional) - ending index within the string where search ends.
mystr.count('l')

3

In [78]:
mystr = 'Python is the great language. We can use Python to build websites, softwares, webapps, and for data analysis'

In [82]:
#I want to find out how many times is is used in the sentence
mystr.count('is')

2

In [83]:
mystr.count('python')

0

In [84]:
mystr.count('Python')

2

In [85]:
mystr.count('Python',2)

1

#### https:/docs.python.org/3/library/codecs.html#standard-encodings
Since Python 3.0, strings are stored as Unicode, i.e. each character in the string is represented by a code point. So, each string is just a sequence of Unicode code points.

For efficient storage of these strings, the sequence of code points is converted into a set of bytes. The process is known as encoding.

There are various encodings present which treats a string differently. The popular encodings being utf-8, ascii, etc.

Using string's encode() method, you can convert unicoded strings into any encodings supported by Python. By default, Python uses utf-8 encoding.

In [91]:
mystr = 'Hello World!'

In [92]:
mystr.encode()

b'Hello World!'

In [93]:
mystr.encode('ascii')

b'Hello World!'

In [94]:
mystr.encode('ascii','ignore')

b'Hello World!'

In [96]:
mystr.encode('ascii','replace')

b'Hello World!'

In [98]:
mystr.encode('utf16')

b'\xff\xfeH\x00e\x00l\x00l\x00o\x00 \x00W\x00o\x00r\x00l\x00d\x00!\x00'

In [1]:
mystr = 'Hello World ####'

In [2]:
# imp
# The endswith() method returns True if a string ends with the specified suffix. If not, it returns False.
mystr.endswith('#')

True

In [6]:
mystr = 'Hello World World'

In [9]:
mystr.endswith('World')

True

In [10]:
# Imp
# The swapcase() method returns a copy of the string with all its uppercase 
# letters converted into lower case and vice versa.
mystr.swapcase()

'hELLO wORLD wORLD'

In [15]:
# The expandtabs() method returns a copy of string with all tab characters '\t' replaced with whitespace characters
# default tabsize is 8
mystr = '123456789\t12\t123456\t1'

In [16]:
mystr

'123456789\t12\t123456\t1'

In [17]:
mystr.expandtabs()

'123456789       12      123456  1'

In [18]:
# Imp
# Find - Returns the index of first occurrence of substring
mystr = 'hello@gmail.com'

In [19]:
mystr.find('@')

5

In [21]:
mystr.find('gmail')

6

In [22]:
# Basic format
# default arguments
print("Hello {}, your balance is {}.".format("Ron", 123.1212))

# positional arguments
print("Hello {0}, your balance is {1}.".format("Ron", 123.1212))

# keyword arguments
print("Hello {name}, your balance is {bal}.".format(name="Ron", bal=121))

# mixed arguments
print("Hello {0}, your balance is {bal}.".format('Ron', bal=123))

Hello Ron, your balance is 123.1212.
Hello Ron, your balance is 123.1212.
Hello Ron, your balance is 121.
Hello Ron, your balance is 123.

In [23]:
# The isalnum() method returns True if all characters in the string are alphanumeric 
# (either alphabets or numbers). If not, it returns False.
mystr = 'hello@world1'

In [24]:
mystr.isalnum()

False

In [27]:
mystr = 'helloworld1'

In [28]:
mystr.isalnum()

True

In [1]:
# Join() string method returns a string by joining all the elements of an iterable, separated by a string separator.
# string.join(iterable)

In [16]:
mystr = ' hello '

In [17]:
myitr = ['Aadam','Bill','Eva']

In [18]:
mystr.join(myitr)

'Aadam hello Bill hello Eva'

In [19]:
# Imp
# The string ljust() method returns a left-justified string of a given minimum width.
# string.ljust(width[, fillchar])

In [20]:
mystr = 'goodlife'

In [21]:
mystr.ljust(20)

'goodlife            '

In [23]:
mystr.ljust(20,'#')

'goodlife############'

In [31]:
mystr = '#-----......... Starting with Python Strings Methods............-----------###'

In [32]:
mystr.strip('#-. ')

'Starting with Python Strings Methods'

In [ ]:
# Imp
# The lstrip() method returns a copy of the string with leading characters removed (based on the string argument passed).
# string.lstrip([chars])

In [28]:
# I need only name of the website and www to be removed
mystr = 'www.python.org'

In [30]:
mystr.lstrip('www.')

'python.org'

In [32]:
mystr.lstrip('www.').rstrip('.org')

'python'

In [33]:
# The partition() method splits the string at the first occurrence of the argument string and returns a tuple containing the part the before separator, 
# argument string and the part after the separator.
# string.partition(separator)

In [34]:
mystr = 'Coding is good for brain'

In [35]:
mystr.partition('is')

('Coding ', 'is', ' good for brain')

In [36]:
mystr.partition('is not')

('Coding is good for brain', '', '')

In [37]:
# The replace() method returns a copy of the string where all occurrences of a substring is replaced with another substring.
# str.replace(old, new [, count]) 
# count (optional) - the number of times you want to replace the old substring with the new substring

In [38]:
mystr = 'Coding is good for brain'

In [39]:
mystr.replace('o','*')

'C*ding is g**d f*r brain'

In [40]:
mystr.replace('o','_',2)

'C_ding is g_od for brain'

In [41]:
# The split() method breaks up a string at the specified separator and returns a list of strings.
#str.split([separator [, maxsplit]])

In [13]:
myfruits = 'Apple, Mango, Banana, Grapes, Orange'

In [14]:
# Default split is on space
myfruits.split()

['Apple,', 'Mango,', 'Banana,', 'Grapes,', 'Orange']

In [15]:
myfruits.split(',')

['Apple', ' Mango', ' Banana', ' Grapes', ' Orange']

In [16]:
myfruits.split(',',2)

['Apple', ' Mango', ' Banana, Grapes, Orange']

In [18]:
myfruits.rsplit(',',2)

['Apple, Mango, Banana', ' Grapes', ' Orange']

In [42]:
mystr = 'companyname1@gmail.com, companyname2@gmail.com, companyname3@yahoo.com'

In [43]:
mystr.split('@')

['companyname1',
 'gmail.com, companyname2',
 'gmail.com, companyname3',
 'yahoo.com']

In [11]:
mystr = 'a e i o u 1 2 3 4 5'

In [12]:
mystr.split()

['a', 'e', 'i', 'o', 'u', '1', '2', '3', '4', '5']

In [49]:
mystr = 'a,e,i,o,u,1,2,3,4,5'

In [50]:
mystr.split(',')

['a', 'e', 'i', 'o', 'u', '1', '2', '3', '4', '5']

In [51]:
# The zfill() method returns a copy of the string with '0' characters padded to the left.
# str.zfill(width)

In [52]:
acntno = '23456'

In [53]:
acntno.zfill(10)

'0000023456'

# Methods on List

* Most list methods will change the list they are called on

In [55]:
mylist = [1,2,3,4,5]

In [57]:
# append() Add a single element to the end of the list
mylist.append(100)

In [58]:
mylist

[1, 2, 3, 4, 5, 100]

In [59]:
# Removes all Items from the List
mylist.clear()

In [60]:
mylist

[]

In [61]:
mylist = [1,2,3,4,5]

In [63]:
#  The copy() method returns a shallow copy of the list.
newlist1 = mylist.copy()

In [64]:
newlist2 = mylist

In [65]:
mylist.append(100)

In [67]:
newlist1

[1, 2, 3, 4, 5]

In [68]:
newlist2

[1, 2, 3, 4, 5, 100]

In [69]:
mylist = [11,2,3,4,51,2,1,2,1,2,3,3,3,3,3,1]

In [70]:
# returns count of the element in the list
mylist.count(3)

6

In [2]:
# extend() - concatenates iterable elements to the end of the list
mylist = [1,2,3,4]

In [3]:
tup = (1,23)

In [4]:
mylist.extend(tup)

In [5]:
mylist

[1, 2, 3, 4, 1, 23]

In [6]:
d = {'name':'Ron','act':111}

In [7]:
mylist.extend(d)

In [8]:
mylist

[1, 2, 3, 4, 1, 23, 'name', 'act']

In [13]:
mylist.extend(d.values())

In [17]:
mylist.extend((1,0))

In [ ]:
mylist = [1,2,3,4,5,2,3,3,4,2,3,1]

In [83]:
# The index() method returns the index of the specified element in the list.
# list.index(element, start, end)
mylist.index(1)

0

In [81]:
mylist.index(2)

1

In [82]:
mylist.index(2,3)

5

In [84]:
# The list insert() method inserts an element to the list at the specified index.
# list.insert(i, elem)
# Here, elem is inserted to the list at the ith index. All the elements after elem are shifted to the right.

In [86]:
mylist = [1,2,3,4]

In [87]:
mylist.insert(2,'##')

In [88]:
mylist

[1, 2, '##', 3, 4]

In [89]:
# The pop() method removes the item at the given index from the list and returns the removed item.
# list.pop(index)

In [90]:
mylist

[1, 2, '##', 3, 4]

In [91]:
p = mylist.pop(2)

In [92]:
p

'##'

In [93]:
mylist

[1, 2, 3, 4]

In [94]:
# The remove() method removes the first matching element (which is passed as an argument) from the list.
# list.remove(element)

In [95]:
fruits = ['apple','mango','grapes','orange','mango','banana']

In [96]:
fruits.remove('apple')

In [97]:
fruits

['mango', 'grapes', 'orange', 'mango', 'banana']

In [100]:
fruits.remove('mango')

In [101]:
fruits

['grapes', 'orange', 'mango', 'banana']

In [102]:
fruits.reverse()

In [103]:
fruits

['banana', 'mango', 'orange', 'grapes']

In [104]:
#The sort() method sorts the elements of a given list in a specific ascending or descending order.
# list.sort(key=..., reverse=...)
mymarks = [20,23,33,200,12,4]

In [105]:
mymarks.sort()

In [106]:
mymarks

[4, 12, 20, 23, 33, 200]

In [107]:
mymarks = [20,23,33,200,12,4]

In [108]:
mymarks.sort(reverse=True)

In [109]:
mymarks

[200, 33, 23, 20, 12, 4]

In [120]:
# sorting using custom key
names = ['Ronnie','Bob','Eva','Rahul','Olivia-rai']

In [123]:
names.sort(key = len)

In [124]:
names

['Bob', 'Eva', 'Rahul', 'Ronnie', 'Olivia-rai']

# Dictionary

In [125]:
d = {'name':'Ron','Marks':100}

In [131]:
d.get('name')

'Ron'

In [132]:
d

{'name': 'Ron', 'Marks': 100}

In [126]:
keys = {'a', 'e', 'i', 'o', 'u' }
value = 'vowel'

vowels = dict.fromkeys(keys, value)
print(vowels)

{'u': 'vowel', 'a': 'vowel', 'o': 'vowel', 'e': 'vowel', 'i': 'vowel'}

In [127]:
keys = {'a', 'e', 'i', 'o', 'u' }
value = [1,2,3,4,5]

vowels = dict.fromkeys(keys, value)
print(vowels)

{'u': [1, 2, 3, 4, 5], 'a': [1, 2, 3, 4, 5], 'o': [1, 2, 3, 4, 5], 'e': [1, 2, 3, 4, 5], 'i': [1, 2, 3, 4, 5]}

In [133]:
d.items()

dict_items([('name', 'Ron'), ('Marks', 100)])

In [134]:
del[d['Marks']]

In [135]:
d

{'name': 'Ron'}

In [136]:
# random sales dictionary
sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }

element = sales.pop('apple')
print('The popped element is:', element)
print('The dictionary is:', sales)

The popped element is: 2
The dictionary is: {'orange': 3, 'grapes': 4}

In [137]:
person = {'name': 'Phill', 'age': 22, 'salary': 3500.0}

# ('salary', 3500.0) is inserted at the last, so it is removed.
result = person.popitem()

print('Return Value = ', result)
print('person = ', person)

# inserting a new element pair
person['profession'] = 'Plumber'

# now ('profession', 'Plumber') is the latest element
result = person.popitem()

print('Return Value = ', result)
print('person = ', person)

Return Value =  ('salary', 3500.0)
person =  {'name': 'Phill', 'age': 22}
Return Value =  ('profession', 'Plumber')
person =  {'name': 'Phill', 'age': 22}

In [138]:
person = {'name': 'Phill', 'age': 22, 'salary': 3500.0}

# ('salary', 3500.0) is inserted at the last, so it is removed.
result = person.popitem()

print('Return Value = ', result)
print('person = ', person)

# inserting a new element pair
person['profession'] = 'Plumber'

# now ('profession', 'Plumber') is the latest element
result = person.popitem()

print('Return Value = ', result)
print('person = ', person)

Return Value =  ('salary', 3500.0)
person =  {'name': 'Phill', 'age': 22}
Return Value =  ('profession', 'Plumber')
person =  {'name': 'Phill', 'age': 22}

In [139]:
d = {1: "one", 2: "three"}
d1 = {2: "two"}

# updates the value of key 2
d.update(d1)
print(d)

d1 = {3: "three"}

# adds element with key 3
d.update(d1)
print(d)

{1: 'one', 2: 'two'}
{1: 'one', 2: 'two', 3: 'three'}

# Methods on Sets

In [2]:
# Discard - The discard() method removes a specified element from the set (if present).

num = {2, 3, 4, 5}
num.discard(3)

In [3]:
num

{2, 4, 5}

In [4]:
num = {2,3,5,6,3,5}

In [6]:
num.discard(3)

In [7]:
num

{2, 5, 6}

In [9]:
# Intersection - The intersection() method returns a new set with elements that are common to all sets.
A = {1, 2, 3, 4}
B = {2, 3, 4,  9}
C = {2,9}

In [14]:
 A.intersection(B)

{2, 3, 4}

In [16]:
A.intersection(B,C)

{2}

In [17]:
# Disjoints sets - The isdisjoint() method returns True if two sets are disjoint sets. If not, it returns False.
A = {1, 5, 9, 0}
B = {2, 4, -5}

In [18]:
A.isdisjoint(B)

True

In [21]:

A = {1, 5, 9, 0,-5.01}
B = {2, 4, -5}

In [22]:
A.isdisjoint(B)

True

In [24]:
# The Python symmetric_difference() method returns the symmetric difference of two sets.
# The symmetric difference of two sets A and B is the set of 
# elements that are in either A or B, but not in their intersection.

In [25]:
A = {'a', 'b', 'c', 'd'}
B = {'c', 'd', 'e' }
C = {}

print(A.symmetric_difference(B))
print(B.symmetric_difference(A))

{'b', 'e', 'a'}
{'e', 'b', 'a'}

In [27]:
#  set update() method updates the set, adding items from other iterables.
#A.update(iter1, iter2, iter3)
A = {'a', 'b'}
B = {1, 2, 3}

A.update(B)

In [28]:
A

{1, 2, 3, 'a', 'b'}

In [29]:
B

{1, 2, 3}

In [30]:
string_alphabet = 'abc'
numbers_set = {1, 2}

# add elements of the string to the set
numbers_set.update(string_alphabet)

print('numbers_set =', numbers_set)

info_dictionary = {'key': 1, 'lock' : 2}
numbers_set = {'a', 'b'}

# add keys of dictionary to the set
numbers_set.update(info_dictionary)
print('numbers_set =', numbers_set)

numbers_set = {1, 2, 'c', 'b', 'a'}
numbers_set = {'b', 'key', 'lock', 'a'}

In [35]:
mynum = 700

In [36]:
mynum.bit_length()

10

In [43]:
a = {'a','b','c','d'}
b = {'c','d','e','f'}

In [44]:
a-b

{'a', 'b'}

In [45]:
a.difference(b)

{'a', 'b'}

In [46]:
a

{'a', 'b', 'c', 'd'}

In [47]:
# difference_update - Will update A with A-B
a.difference_update(b)

In [48]:
a

{'a', 'b'}

In [49]:
b

{'c', 'd', 'e', 'f'}

In [50]:
# Intersection - New set with elements that are common to all sets
a = {'a','b','c','d'}
b = {'c','d','e','f'}
a.intersection(b)

{'c', 'd'}

In [55]:
a = {'a','b','c','d','f'}
b = {'c','d','e','f'}
c = {'f','g'}

In [56]:
a.intersection(b,c)

{'f'}

In [57]:
b.intersection(a,c)

{'f'}

In [58]:
# Intersection_update - Updates the set calling intersection_update() method with the intersection of sets.
a = {'a','b','c','d','f'}
b = {'c','d','e','f'}
c = {'f','g'}
a.intersection_update(b,c)

In [59]:
a

{'f'}

In [63]:
# issubset-Returns True if all elements of a set are present in another set (passed as an argument).
# If not, it returns False.
a = {'a','b','c','d','f'}
b = {'c','d'}
a.issubset(b)

False

In [64]:
b.issubset(a)

True

In [65]:
# Symmetric difference of two sets. Its opposite of intersection. Either in A or in B but not in both A & B
a = {'a','b','c','d','f'}
b = {'c','d','e','f'}
a.symmetric_difference(b)

{'a', 'b', 'e'}

In [66]:
b.symmetric_difference(a)

{'a', 'b', 'e'}

In [67]:
# Symmetric_difference_update - Finds the symmetric difference of two sets and updates the set calling it
a = {'a','b','c','d','f'}
b = {'c','d','e','f'}
a.symmetric_difference_update(b)

In [68]:
a

{'a', 'b', 'e'}

In [69]:
# Union - returns a new set with distinct elements from all the sets
a = {'a','b','c','d','f'}
b = {'c','d','e','f'}
a.union(b)

{'a', 'b', 'c', 'd', 'e', 'f'}

In [70]:
# issuperset - Returns True if a set has every elements of another set (passed as an argument). If not, it returns False.
a = {'a','b','c','d','f'}
b = {'c','d','f'}
a.issuperset(b)

True

In [71]:
b.issubset(a)

True

In [3]:
t = (1,2,1,2,2,2,2,1,2,3,4,1)

In [4]:
type(t)

tuple

In [5]:
t.count(2)

6

In [6]:
t.index(4)

10