In [1]:
import datetime

In [5]:
# Working with time
timenow = datetime.time(19,22,30)
timenow

datetime.time(19, 22, 30)

In [6]:
timenow.hour

19

In [8]:
timenow.minute

22

In [9]:
timenow.second

30

In [11]:
print(timenow)

19:22:30

# Working with dates

In [12]:
today = datetime.date.today()

In [13]:
today

datetime.date(2021, 5, 18)

In [14]:
today.year

2021

In [15]:
today.month

5

In [16]:
today.day

18

In [17]:
today.ctime()

'Tue May 18 00:00:00 2021'

In [18]:
from datetime import datetime

In [23]:
mydatetime = datetime(2020,5,18,19,12,44)

In [24]:
print(mydatetime)

2020-05-18 19:12:44

In [26]:
my_newdatetime = mydatetime.replace(year = 1990)

In [27]:
print(my_newdatetime)

1990-05-18 19:12:44

In [28]:
from datetime import date

In [29]:
date1 = date(2020,10,12)
date2 = date(2010,10,12)

In [31]:
diff = date1 - date2

In [32]:
type(diff)

datetime.timedelta

In [33]:
print(diff)

3653 days, 0:00:00

In [34]:
diff.days

3653

In [37]:
date1 = datetime(2020,10,12,10,10,10)
date2 = datetime(2010,10,19,9,9,2)

In [38]:
diff = date1 - date2

In [39]:
diff

datetime.timedelta(days=3646, seconds=3668)

In [40]:
diff.days

3646

In [41]:
diff.seconds

3668

In [43]:
diff.total_seconds()

315018068.0

In [44]:
# import datetime class from datetime module
from datetime import datetime

# get current date
datetime_object = datetime.now()
print(datetime_object)
print('Type :- ',type(datetime_object))

2021-05-18 17:28:54.634146
Type :-  <class 'datetime.datetime'>

In [46]:
print(datetime.now())

2021-05-18 17:29:35.138938

In [47]:
# Ttwo methods, strptime() and strftime(), for converting objects from strings to datetime objects
# and vice versa. strptime() can read strings with date and time information and convert them to
# datetime objects, and strftime() converts datetime objects back into strings.

In [51]:
my_string = '2020-09-30'

# Create date object in given time format yyyy-mm-dd
my_date = datetime.strptime(my_string, "%Y-%m-%d")

print(my_date)
print('Type: ',type(my_date))

2020-09-30 00:00:00
Type:  <class 'datetime.datetime'>

In [52]:
print('Month: ', my_date.month) # To Get month from date
print('Year: ', my_date.year) # To Get month from year

Month:  9
Year:  2020

Datetime will give us the day of the week as a number using its .weekday() function, but we can convert this to a text format (i.e. Monday, Tuesday, Wednesdayâ€¦) using the calendar module and a method called day_name.

In [53]:
# import calendar module
import calendar
print('Day of Month:', my_date.day)

# to get name of day(in number) from date
print('Day of Week (number): ', my_date.weekday())

# to get name of day from date
print('Day of Week (name): ', calendar.day_name[my_date.weekday()])

Day of Month: 30
Day of Week (number):  2
Day of Week (name):  Wednesday

In [54]:
j = 0
for i in calendar.day_name:
    print(j,'-',i)
    j+=1

0 - Monday
1 - Tuesday
2 - Wednesday
3 - Thursday
4 - Friday
5 - Saturday
6 - Sunday

In [55]:
from datetime import datetime 

todays_date = datetime.now()

# to get hour from datetime
print('Hour: ', todays_date.hour)

# to get minute from datetime
print('Minute: ', todays_date.minute)

Hour:  17
Minute:  37

In [56]:
type(todays_date)

datetime.datetime

A timedelta object represents the amount of time between two dates or times. We can use this to measure time spans, or manipulate dates or times by adding and subtracting from them, etc.

In [57]:
#import datetime
from datetime import timedelta
# create timedelta object with difference of 2 weeks
d = timedelta(weeks=2)

print(d)
print(type(d))
print(d.days)

14 days, 0:00:00
<class 'datetime.timedelta'>
14

In [58]:
#import datetime
from datetime import datetime, timedelta
# get current time
now = datetime.now()
print ("Today's date: ", str(now))

#add 15 days to current date
future_date_after_15days = now + timedelta(days = 15)
print('Date after 15 days: ', future_date_after_15days)

#subtract 2 weeks from current date
two_weeks_ago = now - timedelta(weeks = 2)
print('Date two weeks ago: ', two_weeks_ago)
print('two_weeks_ago object type: ', type(two_weeks_ago))

Today's date:  2021-05-18 17:40:11.612934
Date after 15 days:  2021-06-02 17:40:11.612934
Date two weeks ago:  2021-05-04 17:40:11.612934
two_weeks_ago object type:  <class 'datetime.datetime'>

In [59]:
# import datetime
from datetime import date
# Create two dates
date1 = date(2008, 8, 18)
date2 = date(2008, 8, 10)

# Difference between two dates
delta = date2 - date1
print("Difference: ", delta.days)
print('delta object type: ', type(delta))

Difference:  -8
delta object type:  <class 'datetime.timedelta'>

In [60]:
# import datetime
from datetime import datetime
# create two dates with year, month, day, hour, minute, and second
date1 = datetime(2017, 6, 21, 18, 25, 30)
date2 = datetime(2017, 5, 16, 8, 21, 10)

# Difference between two dates
diff = date1-date2
print("Difference: ", diff)

Difference:  36 days, 10:04:20

# Formatting Dates: More on strftime() and strptime()

strptime() is the method we used before, and youâ€™ll recall that it can turn a date and time thatâ€™s formatted as a text string into a datetime object, in the following format:

time.strptime(string, format)

In [61]:
# import datetime
from datetime import datetime
date_string = "1 August, 2019"

# format date
date_object = datetime.strptime(date_string, "%d %B, %Y")

print("date_object: ", date_object)

date_object:  2019-08-01 00:00:00

In [62]:
# import datetime
from datetime import datetime
dt_string = "12/11/2018 09:15:32"
# Considering date is in dd/mm/yyyy format
dt_object1 = datetime.strptime(dt_string, "%d/%m/%Y %H:%M:%S")
print("dt_object1:", dt_object1)
# Considering date is in mm/dd/yyyy format
dt_object2 = datetime.strptime(dt_string, "%m/%d/%Y %H:%M:%S")
print("dt_object2:", dt_object2)

# Convert dt_object2 to Unix Timestamp
timestamp = datetime.timestamp(dt_object2)
print('Unix Timestamp: ', timestamp)

# Convert back into datetime
date_time = datetime.fromtimestamp(timestamp)
d = date_time.strftime("%c")
print("Output 1:", d)
d = date_time.strftime("%x")
print("Output 2:", d)
d = date_time.strftime("%X")
print("Output 3:", d)

dt_object1: 2018-11-12 09:15:32
dt_object2: 2018-12-11 09:15:32
Unix Timestamp:  1544519732.0
Output 1: Tue Dec 11 09:15:32 2018
Output 2: 12/11/18
Output 3: 09:15:32

In [63]:
# current date and time
now = datetime.now()

# get year from date
year = now.strftime("%Y")
print("Year:", year)

# get month from date
month = now.strftime("%m")
print("Month;", month)

# get day from date
day = now.strftime("%d")
print("Day:", day)

# format time in HH:MM:SS
time = now.strftime("%H:%M:%S")
print("Time:", time)

# format date
date_time = now.strftime("%m/%d/%Y, %H:%M:%S")
print("Date and Time:",date_time)

Year: 2021
Month; 05
Day: 18
Time: 17:44:51
Date and Time: 05/18/2021, 17:44:51

In [1]:
df = pd.read_csv(r'C:\Users\Administrator\Class Notebooks\data\noshowappointments.csv')

In [2]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [4]:
from datetime import date

In [7]:
d1 = date(2019,1,31)
print(d1)

2019-01-31

In [6]:
type(d1)

datetime.date

In [9]:
d2 = date.today()
print(d2)

2021-05-23

In [11]:
print(d2.day)

23

In [12]:
print(d2.month)

5

In [13]:
print(d2.year)

2021

In [16]:
from datetime import time

In [17]:
t1 = time(17,21,55,20)
print(t1)

17:21:55.000020

In [18]:
print(t1.hour)

17

In [20]:
print(t1.minute)

21

In [21]:
print(t1.max)

23:59:59.999999

In [22]:
print(t1.second)

55

In [24]:
print(t1.microsecond)

20

In [25]:
from datetime import datetime

In [26]:
d1 = datetime(2019,1,31,17,21,55,20)

In [27]:
print(d1)

2019-01-31 17:21:55.000020

In [29]:
d1 = datetime.now()
print(d1)

2021-05-23 14:55:45.946036

In [30]:
# Separate date and time from the DateTime object using the date() and time() methods.
# But you could also replace a value in the DateTime objects without having to change the
# entire date using the replace() method:

In [31]:
print('Datetime :',d1)
# date
print('Date :',d1.date())

Datetime : 2021-05-23 14:55:45.946036
Date : 2021-05-23

In [32]:
# time
print('Time :',d1.time())

Time : 14:55:45.946036

In [36]:
# new datetime
print('New datetime :',d1.replace(day=28, hour=22))

New datetime : 2021-05-28 22:55:45.946036

The weekday() method returns an integer value for the day of the week, where Monday is 0 and Sunday is 6. But if you wanted it to return the weekday value between 1 and 7, like in a real-world scenario, you should use isoweekday():

In [37]:
d1 = datetime.now()

In [38]:
print(d1)

2021-05-23 15:01:32.144160

In [39]:
# week starts from 0
print(d1.weekday()) # output 3 for Thurday

6

In [40]:
# week starts with 1
print(d1.isoweekday()) # output 4 in ISO format

7

Alright, you know the day of the week, but do you know what week of the year is it? This is another very important feature that you can generate from the given date in a dataset.

Sometimes the value of the target variable might be higher during certain times of the year. For example, the sales of products on e-commerce websites are generally higher during vacations.

You can get the week of the year by slicing the value returned by the isocalendar() method:

In [42]:
d1 = datetime.now()
print(d1)

2021-05-23 15:03:32.855136

In [44]:
# retuns year, week, month
print(d1.isocalendar())

(2021, 20, 7)

In [46]:
print('Week :',d1.isocalendar()[1])

Week : 20

Want to check whether it is a leap year or not? You will need to use the isleap() method from the calendar module and pass the year as an attribute:

In [47]:

import calendar

In [48]:
d1 = datetime.now()
print(d1)

2021-05-23 15:05:21.906576

In [49]:
# leap year or not
calendar.isleap(d1.year) # Output True

False

In [50]:
# Its May when I wrote this
print(calendar.month(2019,5))

      May 2019
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [51]:
print(calendar.calendar(2019))

                                  2019

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                   1  2  3
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       4  5  6  7  8  9 10
14 15 16 17 18 19 20      11 12 13 14 15 16 17      11 12 13 14 15 16 17
21 22 23 24 25 26 27      18 19 20 21 22 23 24      18 19 20 21 22 23 24
28 29 30 31               25 26 27 28               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

# DateTime Formats
The Datetime module lets you interchange the format of DateTime between a few options.

First up is the ISO format. If you wanted to create a DateTime object from the string form of the date in ISO format, use the fromisoformat() method. And if you intended to do the reverse, use the isoformat() method:

In [52]:
# ISO format
d1_datetime = date.fromisoformat('2019-05-23')
print(d1_datetime)

2019-05-23

In [53]:
print(type(d1_datetime))

<class 'datetime.date'>

In [54]:
d1_ISO = date(2020,4,23).isoformat()
print(d1_ISO)

2020-04-23

In [55]:
print(type(d1_ISO))

<class 'str'>

If you wanted to convert DateTime into a string format, you could use the ctime() method. This returns the date in a string format. And if you wanted to extract just the date from that, well, you would have to use slicing:

In [56]:
# date in string format
d1 = datetime.now()
print(d1)

2021-05-23 15:10:08.424960

In [57]:
# string format for date
print(d1.ctime())

Sun May 23 15:10:08 2021

In [58]:
# slicing to extract date
print(d1.ctime()[:10])

Sun May 23

In [59]:
# Your own format
date(2019,5,23).__format__('%Y/%m/%d')

'2019/05/23'

# DateTime Formatting with Strptime & Strftime

Strptime & Strftime can give you a lot of flexibility with handling DateTime features.

strptime() creates a DateTime object from a string representing date and time. It takes two arguments: the date and the format in which your date is present. Have a look below:

In [62]:
# strptime
date = '23 May, 2019 17:40:26'

In [63]:
d1 = datetime.strptime(date,'%d %B, %Y %H:%M:%S')
print(d1)
print(type(d1))

2019-05-23 17:40:26
<class 'datetime.datetime'>

The stftime() method, on the other hand, can be used to convert the DateTime object into a string representing date and time:

In [64]:
# strftime
d1 = datetime.now()
print('Datetime object :',d1)

Datetime object : 2021-05-23 15:14:48.868179

In [65]:
new_date = d1.strftime('%d/%m/%Y %H:%M')
print('Formatted date :',new_date)
print(type(new_date))

Formatted date : 23/05/2021 15:14
<class 'str'>

But you can also extract some important information from the DateTime object like weekday name, month name, week number, etc.
https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes

In [66]:
d1 = datetime.now()
print('Weekday :',d1.strftime('%A'))
print('Month :',d1.strftime('%B'))
print('Week number :',d1.strftime('%W'))
print("Locale's date and time representation :",d1.strftime('%c'))

Weekday : Sunday
Month : May
Week number : 20
Locale's date and time representation : Sun May 23 15:17:30 2021

# Timedelta
So far, we have seen how to create a DateTime object and how to format it. But sometimes, you might have to find the duration between two dates, which can be another very useful feature that you can derive from a dataset. This duration is, however, returned as a timedelta object.

In [70]:
 # timedelta : duration between dates
d1 = datetime(2019,5,23,17,22,20)
d2 = datetime(2020,5,23,19,22,10)
duration = d2-d1
print(type(duration))
duration

<class 'datetime.timedelta'>

datetime.timedelta(days=366, seconds=7190)

In [71]:
print(duration)

366 days, 1:59:50

In [72]:
print(duration.days) # 365
print(duration.seconds) # 3600

366
7190

In [73]:

from datetime import timedelta
# duration in hours
print('Duration in hours :',duration/timedelta(hours=1))
# duration in minutes
print('Duration in minutes :',duration/timedelta(minutes=1))
# duration in seconds
print('Duration in seconds :',duration/timedelta(seconds=1))

Duration in hours : 8785.997222222222
Duration in minutes : 527159.8333333334
Duration in seconds : 31629590.0

timedelta makes it possible to add and subtract integers from a DateTime object.

In [75]:
d1 = datetime.now()
print("Today's date :",d1)

d2 = d1+timedelta(days=2)
print("Date 2 days from today :",d2)

d3 = d1+timedelta(weeks=2)
print("Date 2 weeks from today :",d3)

Today's date : 2021-05-23 15:21:41.730418
Date 2 days from today : 2021-05-25 15:21:41.730418
Date 2 weeks from today : 2021-06-06 15:21:41.730418

# Date & Time in Pandas

Using to_datetime() and to_timedelta().

In [77]:

# to_datetime
date = pd.to_datetime('23rd of May, 2019')
print(date)
print(type(date))
# You might have noticed something strange here. The type of the object returned by 
# to_datetime() is not DateTime but Timestamp. Well, donâ€™t worry,
# it is just the Pandas equivalent of Pythonâ€™s DateTime.

2019-05-23 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

timedelta gives differences in times. The Pandas to_timedelta() method does

In [79]:

# timedelta
import numpy as np
date = datetime.now()
# present date
print(date)

2021-05-23 15:24:53.459966

In [81]:
# date after 1 day
print(date+pd.to_timedelta(1,unit='D'))

2021-05-24 15:24:53.459966

In [83]:
# date after 1 month
print(date+pd.to_timedelta(1,unit='W'))

2021-05-30 15:24:53.459966

# Date Range in Pandas
To make the creation of date sequences a convenient task, Pandas provides the date_range() method. It accepts a start date, an end date, and an optional frequency code:

In [85]:
pd.date_range(start='23/5/2019', end='25/8/2019', freq='D')

DatetimeIndex(['2019-05-23', '2019-05-24', '2019-05-25', '2019-05-26',
               '2019-05-27', '2019-05-28', '2019-05-29', '2019-05-30',
               '2019-05-31', '2019-06-01', '2019-06-02', '2019-06-03',
               '2019-06-04', '2019-06-05', '2019-06-06', '2019-06-07',
               '2019-06-08', '2019-06-09', '2019-06-10', '2019-06-11',
               '2019-06-12', '2019-06-13', '2019-06-14', '2019-06-15',
               '2019-06-16', '2019-06-17', '2019-06-18', '2019-06-19',
               '2019-06-20', '2019-06-21', '2019-06-22', '2019-06-23',
               '2019-06-24', '2019-06-25', '2019-06-26', '2019-06-27',
               '2019-06-28', '2019-06-29', '2019-06-30', '2019-07-01',
               '2019-07-02', '2019-07-03', '2019-07-04', '2019-07-05',
               '2019-07-06', '2019-07-07', '2019-07-08', '2019-07-09',
               '2019-07-10', '2019-07-11', '2019-07-12', '2019-07-13',
               '2019-07-14', '2019-07-15', '2019-07-16', '2019-07-17',
               '2019-07-18', '2019-07-19', '2019-07-20', '2019-07-21',
               '2019-07-22', '2019-07-23', '2019-07-24', '2019-07-25',
               '2019-07-26', '2019-07-27', '2019-07-28', '2019-07-29',
               '2019-07-30', '2019-07-31', '2019-08-01', '2019-08-02',
               '2019-08-03', '2019-08-04', '2019-08-05', '2019-08-06',
               '2019-08-07', '2019-08-08', '2019-08-09', '2019-08-10',
               '2019-08-11', '2019-08-12', '2019-08-13', '2019-08-14',
               '2019-08-15', '2019-08-16', '2019-08-17', '2019-08-18',
               '2019-08-19', '2019-08-20', '2019-08-21', '2019-08-22',
               '2019-08-23', '2019-08-24', '2019-08-25'],
              dtype='datetime64[ns]', freq='D')

Instead of defining the end date, you could define the period or number of time periods you want to generate:

In [86]:
from datetime import datetime
start_date = datetime.today()
dates_start = pd.date_range(start=start_date, periods=10, freq='T')
dates_start[:5]

DatetimeIndex(['2021-05-23 15:28:55.743484', '2021-05-23 15:29:55.743484',
               '2021-05-23 15:30:55.743484', '2021-05-23 15:31:55.743484',
               '2021-05-23 15:32:55.743484'],
              dtype='datetime64[ns]', freq='T')

# Making DateTime Features in Pandas
Letâ€™s also create a series of end dates and make a dummy dataset from which we can derive some new features and bring our learning about DateTime to fruition.

In [87]:

dates_end = pd.date_range(start=start_date, periods=10, freq='D')
dates_end[:5]

DatetimeIndex(['2021-05-23 15:28:55.743484', '2021-05-24 15:28:55.743484',
               '2021-05-25 15:28:55.743484', '2021-05-26 15:28:55.743484',
               '2021-05-27 15:28:55.743484'],
              dtype='datetime64[ns]', freq='D')

In [88]:
import random
randomList = []
for i in range(10):
    randomList.append(random.randint(0,1))

# dataframe
df = pd.DataFrame()
df['Start_date'] = dates_start
df['End_date'] = dates_end
df['Target'] = randomList

df.head()

                  Start_date                   End_date  Target
0 2021-05-23 15:28:55.743484 2021-05-23 15:28:55.743484       0
1 2021-05-23 15:29:55.743484 2021-05-24 15:28:55.743484       0
2 2021-05-23 15:30:55.743484 2021-05-25 15:28:55.743484       1
3 2021-05-23 15:31:55.743484 2021-05-26 15:28:55.743484       1
4 2021-05-23 15:32:55.743484 2021-05-27 15:28:55.743484       0

In [94]:

# day
df['Day'] = df['Start_date'].dt.isocalendar().day
# month

In [100]:
df1 = df['Start_date'].dt.isocalendar()

In [104]:
df1.min

<bound method DataFrame.min of    year  week  day
0  2021    20    7
1  2021    20    7
2  2021    20    7
3  2021    20    7
4  2021    20    7
5  2021    20    7
6  2021    20    7
7  2021    20    7
8  2021    20    7
9  2021    20    7>

In [1]:
df['Start_minute'] = df['Start_date'].dt.isocalendar().minute
# second
df['Start_second'] = df['Start_date'].dt.isocalendar().second
# Monday is 0 and Sunday is 6
df['Start_weekday'] = df['Start_date'].dt.isocalendar().weekday
# week of the year
df['Start_week_of_year'] = df['Start_date'].dt.isocalendar().week
# duration
df['Duration'] = df['End_date']-df['Start_date']

NameError: name 'df' is not defined

In [105]:
# Our duration feature is great, but what if we would like to have the duration in minutes or seconds?
df['Duration_days'] = df['Duration']/timedelta(days=1)
df['Duration_minutes'] = df['Duration']/timedelta(minutes=1)
df['Duration_seconds'] = df['Duration']/timedelta(seconds=1)